.rw-aboutus-container {
  width: 70%;
  margin: 50px auto;

  .rw-aboutus-content {


    .rw-aboutus-content-txt {

      h2 {
        text-align: justify;
        padding: 2%;
      }
      p {

        text-align: justify;
        padding: 2%;

        &:nth-of-type(6) {
          font-weight: 600;
          padding: 3%;
        }
      }
      .rw-aboutus-content-img {

        float: right;

        padding: 1%;
        margin: 1%;

        img {
          &:nth-of-type(1) {
            transform: translateY(-20px) translateX(20px);
          }
          &:nth-of-type(2) {
            transform: translateY(20px);
            z-index: 1;
          }

          &:nth-of-type(3) {

            transform: translateY(-20px) translateX(-20px);
          }

        }
      }
      
      .rw-aboutus-content-txt-pres {
        float: left;

        padding: 0 1%;

      }

      span {
        font-style: italic;
      }
    }

  }

  .rw-aboutus-slide {

    margin: 250px auto 0;

    h3 {
      color: $red;
      padding: 2%;

      font-size: 20px;
    }

    .rw-aboutus-slideshow {

      width: 1046px;
      height: 120px;

      overflow: hidden;

      background-color: $grey-light;
      padding: 20px;

      .rw-aboutus-sContent li {
        display: inline;
        margin: auto;

        img {
          box-shadow: 2px 2px 3px $grey-dark;
          margin:0 0 40px 0;
        }

      }
    }
  }
}