.rw-aboutus-container {
  width: 70%;
  margin: 50px auto;

  .rw-aboutus-content {


    .rw-aboutus-content-txt {

      h2 {
        text-align: justify;
        padding: 2%;
      }
      p {

        text-align: left;
        padding: 4% 2%;
        line-height: $lineHeight;

        &::first-letter{
          color: $colorOpen;
          font-weight: 400;
          padding: 0 2px 0 10px;
          font-size: $fontSize + 0.4;
        }

        &:nth-of-type(6) {
          font-weight: 600;
          padding: 3%;

          &:first-letter{
            color: #333;
            font-weight: 600;
            padding: 0;
            font-size: $fontSize;
          }
        }
      }
      .rw-aboutus-content-img {

        float: right;

        padding: 1%;
        margin: 1%;

        @extend %clearfix;

        img {
          &:nth-of-type(1) {
            transform: translateY(-20px) translateX(5px);
          }
          &:nth-of-type(2) {
            transform: translateY(20px);
          }

          &:nth-of-type(3) {

            transform: translateY(-20px);
          }

        }
      }
      
      .rw-aboutus-content-txt-pres {
        float: left;

        padding: 0 1%;

        @extend %clearfix;

      }

      span {
        font-style: italic;
      }
    }

  }

  .rw-aboutus-slide {

    margin: 100px auto 0;

    h3 {
      color: $red;
      padding: 2%;

      font-size: 20px;
    }

    .rw-aboutus-slideshow {

      text-align: center;
      margin: auto;
      width: auto;
      height: 120px;

      overflow: hidden;

      background-color: $grey-light;
      padding: 20px;

      .rw-aboutus-sContent li {
        display: inline;
        margin: auto;

        img {
          box-shadow: 2px 2px 3px $grey-dark;
          margin:0 0 40px 0;
          height: 80px;
          width: 80px;
        }

      }
    }
  }
}