/*************************
Bloc content page
**************************/

.rw-main-container-articleon {
  margin: 30px auto;
  width: 70%;

  @extend %clearfix;

}

/*************************
bloc de l'article
**************************/
.rw-blog-article-container {
  width: 70%;
  height: auto;

  float: left;

  margin: 20px auto;
  position: relative;

  padding-bottom: 2%;

  @extend %clearfix;
}

.rw-blog-article-brd-design {
  border: 2px solid $colorDesignFonce;

  /* triangle bas d'article fait en image. A voir pour le faire en CSS
  background: #ffffff url('../../images/triangledesign.png') scroll no-repeat right bottom;*/
}

/* code css du triangle à ajuster pour la position. Penser à passer la position de rw-blog-article-container en position relative si technique utilisée*/


.rw-blog-article-container-arrow {
  @extend %arrow;
  border-color: transparent transparent $colorDesignClair transparent;
  border-width: 0 0 40px 40px;



}

/*************************
Bloc Titre de l'article
**************************/
.rw-blog-article-header {
  background-image: linear-gradient(#ffffff, $grey-light);
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 75px;

  p {
    padding: 2%;
  }
}

.rw-blog-article-header-date {
  width: 100px;
  padding: 15px 10px;
  text-align: center;
  background-color: $grey-light;
  font-size: 14px;
}

.rw-blog-article-header h3 {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-shadow: 2px 2px 2px #ffffff;
  line-height: $lineHeight;
}

/*************************
jour date et nombre commentaires en rouge
**************************/

.rw-blog-article-header-date-red {
  color: $red;
  font-size: 20px;
}

.rw-blog-article-comment-nbr-red {
  color: $red;
  font-size: 24px;
  font-weight: bold;
}

/*************************
Bloc contenu de l'article
**************************/

.rw-blog-article-content {
  width: 100%;
  padding: 10px;

  p {
    line-height: $lineHeight;
  }
}

.rw-blog-article-content img {
  margin: 0 5%;
  width: 90%;
  padding: 15px;
}

.rw-blog-article-content p, .rw-blog-article-content h4 {
  text-align: justify;
  margin: 0 5%;
  width: 90%;
  padding: 10px;

}

.rw-blog-article-content h4 {
  color: $colorDesignClair;
  font-weight: bold;

}

/*************************
Bloc commentaire de l'article
**************************/

.rw-blog-article-comment-nbr {
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 0 5%;
}

.rw-blog-article-comment-arrow {
  width: 0;
  height: 0;
  margin: 10px auto;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  border-top: 25px solid #000000;
}

.rw-blog-article-comment-cmt-ord {
  min-height: 80px;
  width: 90%;
  margin: 2% 5%;
  padding: 10px;

  box-shadow: 0 3px 2px $grey-light; // design amélioré par rapport à la maquette pour une meilleure visibilité

}

.rw-blog-article-comment-cmt-ord img {
  float: left;
  display: block;

  @extend %clearfix;
}

.rw-blog-article-comment-cmt-ord p {
  padding: 2% 0;
  margin-left: 15%;
  height: auto;
}

.rw-blog-article-comment-cmt-ord p:nth-child(2) {
  padding: 0 2%;
  font-size: 80%;
}

/*************************
partie droite de la page
**************************/

.rw-blog-band-container {
  width: 29%;
  height: auto;
  float: left;
  margin: 20px 0 20px 5px;

  @extend %clearfix;
  background-color: $grey-light;

  .rw-blog-band-auth {

    padding: 3%;

    h3, h3 a {
      color: $red;
      height: auto;
      text-align: center;
      padding: 2% 0;
    }

    p {

      padding: 3%;
      line-height: $lineHeight;
      text-align: left;
    }

    .rw-blog-band-auth-rsx {
      text-align: center;

      padding: 0;

      img {
        padding: 0 2%;
      }
    }

  }

  .rw-blog-band-others-sameAuth {

    margin: 3%;

    .rw-blog-band-others-sameAuth-header {

      background-image: linear-gradient(#ffffff, $grey-light);

      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      height: 80px;

      h3 {
        height: 53px;
        margin: auto;
        padding: 0 1%;
        line-height: $lineHeight;
      }

      .rw-blog-band-others-sameAuth-header-date {
        width: 100px;
        padding: 15px 10px;
        text-align: center;
        font-size: 12px;

        .rw-blog-band-others-sameAuth-header-date-red {
          font-size: 14px;
          color: $red;
        }
      }
    }

    .rw-blog-band-others-sameAuth-header-picto {

      padding-left: 10%;

      img {
        height: 50px;
      }
    }
  }

  .rw-blog-article-brd-inte {
    border: 2px solid $colorInteFonce;

    .rw-blog-band-others-sameAuth-header-picto {
      background: #ffffff url("../../images/triangleinte.png") no-repeat right bottom;
    }
  }

  .rw-blog-band-others-Une {
    text-align: center;
    margin: 0 2% 2% 2%;

    box-shadow: 0 3px 2px $grey-dark;

    .rw-blog-band-others-Une-illus {

      padding: 3%;

      img {
        width: 234px;
        height: 128px;
        border-bottom: 2px solid $grey-dark;
      }
    }

    .rw-blog-band-others-Une-header {
      padding: 2%;
      height: 100px;

      h3 {
        padding: 25px 0 0;      }
    }
  }

  .rw-blog-article-Une-design {
    border-bottom: 3px solid $colorDesignClair;

  }

  .rw-blog-band-rsx {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

}