/*************************
Bloc content page
**************************/

.rw-main-container-articleon {
  margin: 30px auto;
  width: 1050px;
  display: flex;
  flex-flow: row nowrap;

 // @extend %clearfix;

  a {
    color: inherit;
  }
}

/*************************
bloc de l'article
**************************/
.rw-blog-article-container {
  width: 67%;
  height: 100%;

  margin: 20px auto;
  position: relative;

  padding-bottom: 2%;

  @extend %clearfix;

  .rw-blog-article-content-fct {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: $fontSize - 0.125;
    margin: 0;
    padding: 0;
    color: #FFFFFF;

    span {
      margin: auto 0;
      padding: 5px 10px;

      p {
        display: inline;
      }
      &:nth-child(2){
        i {
          cursor: pointer;
          padding: 0 2px;
        }
      }
      &:nth-child(3){

        i {
          cursor: pointer;
          padding: 0 2px;
          &:nth-child(1), &:nth-child(3) {
            font-size: $fontSize + 0.25;
          }
          &:nth-child(2) {
            font-size: $fontSize - 0.2;
            padding: 0;
          }
        }
      }
    }
  }
}

/*.rw-blog-article-brd-design {
  border: 2px solid $colorDesignFonce;
}*/

.rw-bdc-triangle {
  @extend %arrow;
  border-width: 0 0 40px 40px;
}

/*************************
Bloc Titre de l'article
**************************/
.rw-blog-article-header {
  background-image: linear-gradient(#ffffff, $grey-light);
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 75px;

  p {
    padding: 2%;
    margin: auto;
  }
}

.rw-blog-article-header-date {
  width: 100px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $grey-light;
  font-size: 14px;
}

.rw-blog-article-header h3 {
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 10px;
  text-shadow: 2px 2px 2px #ffffff;
  line-height: $lineHeight;
}

/*************************
jour date et nombre commentaires en rouge
**************************/

.rw-blog-article-header-date-red {
  color: $red;
  font-size: 20px;
}

.rw-blog-article-comment-nbr-red {
  color: $red;
  font-size: 24px;
  font-weight: bold;
}

/*************************
Bloc contenu de l'article
**************************/

.rw-blog-article-content {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: auto;

  h1 {
    font-size: $fontSize + 1.3;
  }
  h2 {
    font-size: $fontSize + 1;
  }
  h3 {
    font-size: $fontSize + 0.8;
  }
  h3 {
    font-size: $fontSize + 0.6;
  }
  h4 {
    font-size: $fontSize + 0.4;
  }
  h5 {
    font-size: $fontSize + 0.2;
  }
  h6 {
    font-size: $fontSize;
  }

  pre {
    color: #ff1010;
  }

  blockquote {
    border-left: 2px solid $grey-dark;
    padding: 10px;
    letter-spacing: 3px;
    font-size: $fontSize - 0.1;
    background-color: $grey-light;
    width: 80%;
    margin: auto;

    &:before, &:after {
      content:"\"";
    }
  }

  p {
    b {
      font-weight: 400;
    }

    i {
      font-style: italic;
    }

    u {
      text-decoration: underline;
    }
    
    strike {
      text-decoration: line-through;
    }

    img {
      margin: auto;
      max-width: 100%;
    }
  }

  ul {
    list-style: circle inside;
    width: 90%;
    margin: auto;

    li {
      padding: 5px 0;
    }
  }

  ol {
    list-style: normal inside;
    width: 90%;
    margin: auto;

    li {
      padding: 5px 0;
    }
  }

  img {
    margin: auto;
    max-width: 100%;
  }

  a {
    text-decoration: underline;
  }
}

.rw-blog-article-content p, .rw-blog-article-content-auth {
  text-align: justify;
  margin: auto;
  width: 90%;
  padding: 10px;
  line-height: $lineHeight;

}

.rw-blog-article-content-auth {
  font-weight: bold;
  text-transform: capitalize;
}

/*************************
Bloc commentaire de l'article
**************************/

.rw-blog-article-comment {
  padding: 0 30px;
}

/*************************
partie droite de la page
**************************/

.rw-blog-band-container {
  width: 29%;
  height: 100%;
  margin: 20px auto;

  background-color: $grey-light;

  hr {
    margin: 40px 0;
    border: 1px solid #fff;
  }

  .rw-blog-band-auth {

    width: 90%;
    margin: auto;
    padding: 3%;


    h3, h3 a {
      color: $red;
      height: auto;
      text-align: center;
      padding: 2% 0;

      span {
        text-transform: capitalize;
        font-size: $fontSize + 0.1;
      }
    }

    .rw-blog-band-auth-avatar {

      margin: auto;
      width: 100%;
      text-align: center;
      padding: 18px;

      img {

        margin: auto;
        box-shadow: 1px 1px 4px $grey-dark;
        border-radius:50%;
        height: 120px;
        width: 120px;

      }
    }

    p {

      padding: 20px 0;
      line-height: $lineHeight;
      text-align: left;
    }

    .rw-blog-band-auth-rsx {

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 10px 0;
      margin: auto;

      img {
        padding: 0;
        margin: auto;
      }
    }

  }

  .rw-blog-band-others-sameAuth {

    margin: 3%;
    position: relative;

    .rw-blog-band-others-sameAuth-all-articles {
      font-size: $fontSize - 0.1;
      text-align: right;
      font-style: italic;
      margin: auto;
      display: block;
      width: 100%;
      color: $red;

      span {
        text-transform: capitalize;
      }
    }


    .rw-blog-band-others-sameAuth-header {



      background-image: linear-gradient(#ffffff, $grey-light);

      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      height: 80px;

      h3, a {
        height: 53px;
        margin: auto;
        padding: 0 1%;
        line-height: $lineHeight;
        color: inherit;
      }

      a:hover {
        font-weight: 400;
      }

      .rw-blog-band-others-sameAuth-header-date {
        width: 100px;
        padding: 15px 10px;
        text-align: center;
        font-size: 12px;

        .rw-blog-band-others-sameAuth-header-date-red {
          font-size: 14px;
          color: $red;
        }
      }
    }

    .rw-blog-band-others-sameAuth-header-picto {

      padding-left: 10%;

      img {
        height: 50px;
      }
    }
  }

  .rw-blog-band-others-sameAuth-header-picto {
    background: #ffffff;
  }


  .rw-blog-band-others-Une {
    text-align: center;
    margin: 0 2% 2% 2%;
    background: linear-gradient(#FFFFFF, $grey-light);

    box-shadow: 0 3px 2px $grey-dark;

    .rw-blog-band-others-Une-illus {

      padding: 3%;

      img {
        margin: 20px 0 0 0;
        width: 234px;
        height: 128px;
        border-bottom: 2px solid $grey-dark;
      }
    }

    .rw-blog-band-others-Une-header {
      padding: 2%;
      height: 100px;

      h3 {
        padding: 25px 0 0;      }
    }
  }


  .rw-blog-band-rsx {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    padding-bottom: 8px;
  }

}