/*************************
block de l'article
**************************/
.rw-blog-article-container {
  width: 70%;
  height: auto;

  margin: 50px; /* margin à enlever lors de l'intégration finale*/
  border: 2px solid $ColorDesignFonce;

  /* triangle bas d'article fait en image. A voir pour le faire en CSS*/
  background: url(../../img/triangledesign.png) scroll no-repeat right bottom;
  padding-bottom: 2%;
}

/* code css du triangle à ajuster pour la position. Penser à passer la position de rw-blog-article-container en position relative si technique utilisée*/

/*
.rw-blog-article-container-arrow {
  width: 0;
  height: 0;
  margin: 10px auto;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 25px solid $ColorDesignFonce;

  transform: rotate(-45deg);

  left: 95%;
  top: 97%;

}*/



/*************************
Block Titre de l'article
**************************/
.rw-blog-article-header {
  background-image:linear-gradient(#fff, $GrisClair);
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.rw-blog-article-header-date {
  width: 100px;
  padding: 15px 10px;
  text-align: center;
  background-color: $GrisClair;
  font-size: 14px;
}

.rw-blog-article-header-date p {
  padding: 2%;
}

.rw-blog-article-header h3 {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-shadow: 2px 2px 2px #fff;
}

/*************************
jour date et nombre commentaires en rouge
**************************/

.rw-blog-article-header-date-red {
  color: $Rouge;
  font-size: 20px;
}

.rw-blog-article-comment-nbr-red {
  color: $Rouge;
  font-size: 24px;
  font-weight: bold;
}



/*************************
Block contenu de l'article
**************************/

.rw-blog-article-content {
  width: 100%;
  padding: 10px;
}

.rw-blog-article-content img {
  margin: 0 5%;
  width: 90%;
  padding: 15px;
}

.rw-blog-article-content p, .rw-blog-article-content h4 {
  text-align: justify;
  margin: 0 5%;
  width: 90%;
  padding: 10px;

}

.rw-blog-article-content h4 {
  color: $ColorDesignClair;
  font-weight: bold;

}

/*************************
Block commentaire de l'article
**************************/

.rw-blog-article-comment-nbr {
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 0 5%;
}


.rw-blog-article-comment-arrow {
  width: 0;
  height: 0;
  margin: 10px auto;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  border-top: 25px solid #000000;
}

.rw-blog-article-comment-cmt-ord {
  min-height: 80px;
  width: 90%;
  margin: 2% 5%;
  padding: 10px;

  box-shadow: 0 3px 2px $GrisClair; // design amélioré par rapport à la maquette pour une meilleure visibilité

}

.rw-blog-article-comment-cmt-ord img {
  float: left;
  display: block;
}

.rw-blog-article-comment-cmt-ord p {
  padding: 2% 0;
  margin-left: 15%;
  height: auto;
}

.rw-blog-article-comment-cmt-ord p:nth-child(2) {
  padding: 0 2%;
  font-size: 80%;
}