
.rw-cpt-main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  line-height: $lineHeight;
  max-width: 1000px;
  margin: 50px auto;

  a {
    color: inherit;
  }

  p.rw-cpt-success {
    color: #16A086;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 100%;
    font-weight: 400;
    text-align: center;
    padding-bottom:30px;
  }

  .rw-cpt-header {
    margin: 20px auto;
    text-align: center;
    
    h1 {
      font-size: $fontSize + 1;
      padding: 10px 0;

      span {
        color: $red;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    .rw-cpt-created {
      font-size: $fontSize - 0.1;
      color: $grey-dark;

      span {
        padding: 5px;
        margin: 0 5px;
        color: #fff;
        border-radius: 20px;
        box-shadow: 1px 1px 3px $grey-dark;

        font-size: $fontSize - 0.2 !important;
      }

      .rw-cpt-created-asso {
        color: $colorOpen;
      }
    }

    button {
      margin: 10px auto;

      border: none;
      border-radius: 20px;
      padding: 5px;
      font-style: italic;

      background-color: $colorOpen;
      color: #FFFFFF;
      width: 240px;
      transition: all 0.5s ease-in-out;

    }

  }

  .rw-cpt-content {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    width: 100%;

    .rw-cpt-content-profil {
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;

      h2 {
        padding: 25px 0;
        color: $colorOpen;
        font-weight: 400;
        font-size: $fontSize + 0.5;
        width: 100%;
        text-align: center;
      }

      ul.rw-cpt-error {
        width:100%;
        li {
          color: $red;
          font-size: $fontSize - 0.1em;
          line-height:$lineHeight;
          font-weight: 400;
          text-align:center;
        }
      }

      p.rw-contact-success {
        color: $colorOpen;
        font-size: $fontSize - 0.1em;
        line-height:$lineHeight;
        width:100%;
        font-weight: 400;
        text-align:center;
      }

      form {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;


        .rw-cpt-label {
          color: $colorOpenHover;
          width: 400px;
          display: inline;
        }

        .rw-cpt-label-container {

          margin: 10px 0;

          .rw-cpt-label-no {
            color: $red;
          }
          .rw-cpt-label-textarea {
            @extend .rw-cpt-label;
            width: 300px;
            display: block;
          }
          label {
            padding: 0 5px;
          }

        }
        .rw-cpt-input, .rw-cpt-textarea {
          margin: 10px auto;
          display: none;
          border: none;
          background-color: $grey-light;
          padding: 5px;
          width: 300px;
          color: darken($grey-dark, 20);
          font-style: italic;
          transition: all 0.5s ease-in-out;

        }
        #rw-cpt-btn-submit-infos, #rw-cpt-btn-submit-avatar {
          @extend .rw-cpt-input;
          background-color: $colorOpen;
          color: #FFFFFF;
          margin: 10px auto;
          opacity:0;
          display: block;
          border-radius: 20px;
        }

        #rw-cpt-btn-submit-avatar {
          width:240px !important;
          margin-top: 70px;
        }
      }

      button {
        margin: 10px auto;
        border: none;
        padding: 5px;
        font-style: italic;
        background-color: $colorOpen;
        color: #FFFFFF;
        width: 240px;
        transition: all 0.5s ease-in-out;
        border-radius: 20px;
      }


      .rw-cpt-content-avatar {
        margin: 0 auto;
        padding: 30px;

        display: flex;
        flex-flow: column nowrap;

        background: linear-gradient(#FFFFFF, $grey-light);
        border-radius: 20px;
        box-shadow: 1px 1px 2px $grey-dark;

        .rw-cpt-avatar {
          margin: auto;
          text-align: center;
          box-shadow: 1px 1px 4px $grey-dark;
          border-radius: 50%;

          width: 200px;
          height: 200px;
        }
      }
//      fin content profil
    }
//    fin content
  }
  //    fin container main
}

    /*************************
      design du bouton upload de fichier
    **************************/

    /* styles de base si JS est activé */
    .rw-sub-js .rw-cpt-input-file-container {
      position: relative;
      width: auto;
      height:50px;
      display: none;
    }
    .rw-sub-js .rw-sub-input-file-trigger {
      display: block;
      padding: 2px 0px;
      background: $colorOpen;
      color: $grey-light;
      font-weight:500;
      font-size: $fontSize - 0.1em;
      text-align:center;
      transition: all .4s;
      cursor: pointer;
      border-radius: 50px;
      width: 240px;
      margin:20px auto;
    }
    .rw-sub-js .rw-sub-input-file {
      position: absolute;
      top: 0; left: 0;
      width: 210px;
      padding: 14px 0;
      opacity: 0;
      cursor: pointer;
    }

    /* quelques styles d'interactions */
    .rw-sub-js .rw-sub-input-file:hover + .rw-sub-input-file-trigger,
    .rw-sub-js .rw-sub-input-file:focus + .rw-sub-input-file-trigger,
    .rw-sub-js .rw-sub-input-file-trigger:hover,
    .rw-sub-js .rw-sub-input-file-trigger:focus {
      background: $colorClose;
      //color: #FFFFFF;
    }
    /* styles du retour visuel */
    .rw-sub-file-return {
      margin: 0;
    }
    .rw-sub-file-return:not(:empty) {
      margin: 0;
    }
    .rw-sub-js .rw-sub-file-return {
      font-style: italic;
      font-size: .9em;
      color: $colorOpen;
      text-align: center;
      width: auto;
    }
    /* on complète l'information d'un contenu textuel
    uniquement lorsque le paragraphe n'est pas vide */
    .rw-sub-js .rw-sub-file-return:not(:empty):before {
      content: "Fichier choisi :  ";
      font-weight: normal;
      color: $colorOpenHover;
      margin: auto;
      padding: 0 10px;
    }