.rw-land-container {
  width: 100%;
  margin: auto;
  position: relative;

  .rw-land-container-header {
    width: 100%;
    height: 340px;
    background-color: $colorCloseHover;
  }

  .rw-land-header-logo {



    img {
      margin: 20px 0 20px 20px ;
      width: 110px;
      height: 96px;
      display: inline;
      float: left;

    }
  }

  .rw-land-header-title {

    h1 {
      font-size: $fontSize + 1;
      margin: auto 100px;
      padding: 37px 45px;
      font-weight: 500;

      span {
        font-size: $fontSize + 0.5;
        color: #FFFFFF;
        font-weight: 600;
      }
    }

    .rw-land-header-line {
      width: 80%;
      height: 2px;
      background-color: #fff;
      margin: auto;
      position: relative;
      top: 40px;

      &::before, &::after {
        content: '';
        display: block;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: -4px;

      }

      &::before {
        left: -1%;
      }

      &::after {
        left: 100%;
      }
    }
  }
  .rw-land-container-content {
    width: 100%;
    height: 398px;
    background-color: rgba(#000000, 0.5);

    .rw-land-container-bg {
      background: transparent url("../../landing/communaute.jpg") no-repeat scroll center center;
      background-size: cover;
      width: 100%;
      height: 100%;

      .rw-land-content {
        margin: auto;
        display: flex;
        height: 100%;
        background-color: rgba($colorCloseHover, 0.5);

        & > * {
          flex: 0 1 auto;
          top: 75px;
          position: relative;

        }

        img:first-of-type {
          margin: auto auto 0 160px;
        }
        img:last-of-type {
          margin: auto 160px 0 auto;
        }
      }
    }
  }

  .rw-land-content-video {
    background: transparent url("../../landing/ecran.png") no-repeat scroll center center;
    background-size: 100%;
    width: 830px;
    height: 670px;
    position: absolute;
    left: 24%;
    margin: 0;
    text-align: center;
    top: 143px;

    video {
      width:800 px;
      height: 600px;
      border-radius: 10px;
      margin: 55px 0 0;
      border: 1px solid rgba(#000000, 0.5);
    }
  }

  .rw-land-content-btn {
    position: absolute;
    top: 153px;
    left: 870px;
    cursor: pointer;

    .rw-land-btn-arrow {
      display: inline;
      float: left;
      background-color: $colorOpen;
      padding: 10px 8px 10px 10px;
      color: #FFFFFF;
      height: 37px;
      margin-right: 2px;
    }

    .rw-land-btn-btn {
      border: none;
      background-color: $colorOpen;
      width: 250px;
      height: 37px;
      color: #FFFFFF;
      font-size: $fontSize + 0.2;
      font-weight: 300;
      letter-spacing: 1px;
      cursor: pointer;
    }

  }

  .rw-land-container-footer {
    width: 100%;
    margin: auto;
    padding: 100px 0 0 0;

    h2 {
      width: 100%;
      margin: 5px auto 100px auto;
      text-align: center;
      font-size: $fontSize + 0.7;
      padding: 10px 0;
      color: $grey-dark;
    }

    .rw-icon-rs {
      float: left;
      margin: auto 10px;
      padding: 5px;
      background-color: $colorCloseHover;
    }

    h3 {
      float: left;
      margin: auto;
      font-size: $fontSize + 0.5;
      line-height: $lineHeight + 0.5;
      color: $colorCloseHover;
      font-weight: 600;
    }

    .rw-land-footer-rs {
      margin: auto 10px;
      padding: 5px 10px;
      line-height: $lineHeight + 1;

      a {
        margin-left: 20px;
      }
    }

    .rw-land-footer-copy {
      width: 100%;
      margin: 5px auto 10px auto;
      text-align: center;
      font-size: $fontSize - 0.1;
      padding: 10px 0;
      color: $grey-dark;
    }
  }
}

@media all and (max-width:955px){

  .rw-land-container {

    .rw-land-container-header {
      width: 100%;
      height: 200px;
      background-color: $colorCloseHover;
    }

    .rw-land-header-logo {

      img {
        width: 90px;
        height: 76px;
      }
    }

    .rw-land-header-title {

      h1 {
        font-size: $fontSize + 0.5;
        margin: auto 80px;

        span {
          font-size: $fontSize + 0.3;
        }
      }

    }

    .rw-land-container-content {
      height: 200px;

      .rw-land-container-bg {

        .rw-land-content {
          background-color: rgba($colorCloseHover, 0.5);

          & > img {
            flex: 0 1 auto;
            top: 70px;
            position: relative;

          }

          img:first-of-type {
            margin: auto auto 0 50px;
            height: 133px;
          }
          img:last-of-type {
            margin: auto 50px 0 auto;
            height: 97px;
          }
        }
      }
    }

    .rw-land-content-video {
      width: 415px;
      height: 335px;
      left: 22%;
      top: 135px;

      video {
        width: 400px;
        height: 300px;
        margin: 30px 0 0;
      }
    }

    .rw-land-content-btn {
      position: absolute;
      top: 140px;
      left: 412px;
      cursor: pointer;

      .rw-land-btn-arrow {
        padding: 5px 4px 5px 5px;
        height: 21px;
        font-size: $fontSize - 0.2;

      }

      .rw-land-btn-btn {
        width: 125px;
        height: 21px;
        font-size: $fontSize - 0.2;
      }

    }

    .rw-land-container-footer {
      width: 100%;
      margin: auto;
      padding: 50px 0 0 0;

      h2 {
        margin: 20px auto 50px auto;
        font-size: $fontSize - 0.2;
      }

      .rw-icon-rs {
        margin: auto 5px;
        padding: 2px;
        height: 27px;
      }

      h3 {
        font-size: $fontSize;
        line-height: $lineHeight;
      }

      .rw-land-footer-rs {
        margin: auto 5px;
        padding: 2px 5px;
        line-height: $lineHeight;
        a {
          margin-left: 10px;
          img {
            height: 20px;
          }
        }
      }

      .rw-land-footer-copy {
        margin: 2px auto 5px auto;
        font-size: $fontSize - 0.3;
        padding: 5px 0;
      }
    }
  }
}