.rw-land-container {
  max-width: 1200px;
  margin: auto;
  position: relative;

  .rw-land-container-header {
    width: 100%;
    height: 468px;
    background-color: $colorCloseHover;
    padding-top: 30px;

    .rw-land-header-logo {

      padding-top: 30px;
      padding-left: 30px;

      img {
        width: 110px;
        height: 96px;
      }
    }

    .rw-land-header-title {

      h1 {
        font-size: $fontSize + 0.8;
        margin-left: 30px;
        padding: 5px 0;
        font-weight: 500;

        span {
          font-size: $fontSize + 0.5;
          color: #FFFFFF;
          font-weight: 600;
        }
      }
    }

    .rw-land-header-line {
      width: 80%;
      height: 2px;
      background-color: #fff;
      margin: auto;
      position: relative;
      top: 40px;

      &::before, &::after {
        content: '';
        display: block;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: -4px;

      }

      &::before {
        left: -1%;
      }

      &::after {
        left: 100%;
      }
    }
  }
  .rw-land-container-content {
    width: 100%;
    height: 398px;
    background-color: rgba(#000000, 0.5);

    .rw-land-container-bg {
      //background-color: $colorCloseHover;
      background: transparent url("../../landing/communaute.jpg") no-repeat scroll center center;
      background-size: 1200px;
      width: 100%;
      height: 100%;
      //opacity: 0.4;

      .rw-land-content {
        margin: auto;
        display: flex;
        height: 100%;
        background-color: rgba($colorCloseHover, 0.6);

        & > * {
          flex: 0 1 auto;
          top: 75px;
          position: relative;

        }

        img:first-of-type {
          margin: auto auto 0 0;
        }
        img:last-of-type {
          margin: auto 0 0 auto;
        }
      }
    }
  }

  .rw-land-content-video {
    background: transparent url("../../landing/ecran.png") no-repeat scroll center center;
    width: 820px;
    height: 670px;
    position: absolute;
    left: 15.5%;
    margin: 0;
    text-align: center;
    top: 260px;

    video {
      border-radius: 10px;
      margin: 55px 0 0;
      border: 1px solid rgba(#000000, 0.5);
    }
  }

  .rw-land-content-btn {
    position: absolute;
    top: 270px;
    left: 700px;
    cursor: pointer;

    .rw-land-btn-arrow {
      display: inline;
      float: left;
      background-color: $colorOpen;
      padding: 10px 8px 10px 10px;
      color: #FFFFFF;
      height: 37px;
      margin-right: 2px;
    }

    .rw-land-btn-btn {
      border: none;
      background-color: $colorOpen;
      width: 250px;
      height: 37px;
      color: #FFFFFF;
      font-size: $fontSize + 0.2;
      font-weight: 300;
      letter-spacing: 1px;
      cursor: pointer;
    }

  }

  .rw-land-container-footer {
    width: 100%;
    //background-color: green;
    margin: auto;
    padding: 100px 0 0 0;

    h2 {
      width: 100%;
      margin: 5px auto 100px auto;
      text-align: center;
      font-size: $fontSize + 0.7;
      padding: 10px 0;
      color: $grey-dark;
    }

    .rw-icon-rs {
      float: left;
      margin: auto 10px;
      padding: 5px;
      background-color: $colorCloseHover;
    }

    h3 {
      float: left;
      margin: auto;
      font-size: $fontSize + 0.5;
      line-height: $lineHeight + 0.5;
      color: $colorCloseHover;
      font-weight: 600;
    }

    .rw-land-footer-rs {
      margin: auto 10px;
      padding: 5px 10px;
      line-height: $lineHeight + 1;

      a {
        margin-left: 20px;
      }
    }

    .rw-land-footer-copy {
      width: 100%;
      margin: 5px auto 10px auto;
      text-align: center;
      font-size: $fontSize - 0.1;
      padding: 10px 0;
      color: $grey-dark;
    }

  }
}