.rw-mentions-container {
  width: 70%;
  height: auto;
  margin: 50px auto;

  border: 2px solid $grey-dark;
  box-shadow: 2px 3px 3px $grey-dark;

  .rw-mentions-header {
    height: 75px;
    text-align: center;
    line-height: 75px;

    background: $grey-light;

    h1 {

      font-weight: bold;
      font-size: 28px;
    }
  }

  .rw-mentions-content {
    padding: 3%;

    text-align: justify;

    h2 {
      padding: 3% 0;
      text-decoration: underline;

      font-size: 24px;
    }

    p {
      padding: 1% 0;
    }
  }

}