.rw-sub-container {
  max-width: 1200px;
  margin: 0 auto;

  .rw-sub-header {

    padding: 3% 0;

//    text-transform: uppercase;
    text-align: center;

    h1, h2 {
      font-size: 26px;
      padding: 5px 0;

      span {
        color: $red;
      }
    }
  }

  .rw-subvalid-header {
    width: 350px;
    margin: auto;
  }

  .rw-sub-content {

    text-align: center;
    font-size: $fontSize -0.225;

    .rw-sub-form {
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        height: auto;

      .checkbox {
        width: 50%;
        text-align: left;
        margin: auto;
      }
      p {
        margin: auto;
        padding: 2em 0;
        line-height: $lineHeight;
        }

        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
          left: -9999px;
          position: absolute;
        }
        [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
          cursor: pointer;
          padding-left: 75px;
          position: relative;
          text-align: left;

        }

        [type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before, [type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after {
          content: "";
          position: absolute;
        }

        [type="checkbox"]:not(:checked) + label::before, [type="checkbox"]:checked + label::before {
          background: $colorClose none repeat scroll 0 0;
          border-radius: 15px;
          height: 30px;
          left: 0;
          top: -3px;
          transition: background-color 0.2s ease 0s;
          width: 65px;
        }
        [type="checkbox"]:not(:checked) + label::after, [type="checkbox"]:checked + label::after {
          background: $colorCloseHover none repeat scroll 0 0;
          border-radius: 50%;
          height: 20px;
          left: 5px;
          top: 2px;
          transition: all 0.2s ease 0s;
          width: 20px;
        }
        [type="checkbox"]:checked + label::before {
          background: $colorOpen none repeat scroll 0 0;
        }
        [type="checkbox"]:checked + label::after {
          background: $colorOpenHover none repeat scroll 0 0;
          left: 40px;
          top: 2px;
        }
        [type="checkbox"]:checked + label .ui, [type="checkbox"]:not(:checked) + label .ui::before, [type="checkbox"]:checked + label .ui::after {
          border-radius: 15px;
          font-size: 14px;
          font-weight: bold;
          left: 6px;
          line-height: 22px;
          position: absolute;
          transition: all 0.2s ease 0s;
          width: 65px;
        }
        [type="checkbox"]:not(:checked) + label .ui::before {
          content: "non";
          left: 32px;
          color: $grey-light;
          top: 0;
        }

        [type="checkbox"]:checked + label .ui::after {
          color: $grey-light;
          content: "oui";
          top: -2px;
        }
        [type="checkbox"]:focus + label::before {
          box-sizing: border-box;
        }

      input {
      width: 350px;

      margin: 2%;
      padding: 15px;

      font-style: italic;

      background-color: $grey-light;
      border: none;

    }


    .rw-sub-upload {
      background-color: rgba($red, 0.5);
      padding: 0;
      cursor: pointer;
    }
      button {
        width: 350px;
        padding: 10px;
        margin: 20px auto;

        cursor: pointer;

        font-size: 20px;
        font-weight: 300;
        background-color: $red;
        color: #ffffff;
        border: none;

      }
    }

  }
  .rw-sub-advantages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background-color: $grey-light;
    width: 100%;

    margin: 50px auto 0;


    .rw-sub-advantages-zone {
      margin: 10px auto;
      display: flex;
      flex-flow: column nowrap;

      width: 320px;

      border: 2px solid #FFFFFF;
      background: linear-gradient(#FFFFFF, $grey-light);

      img {
        width: 59px;
        margin: auto;

      }

      p {
        line-height: $lineHeight;
        margin: auto;
        text-align: left;
        padding: 20px;
      }
      h3 {
        margin: auto;
        padding: 20px;
        text-align: justify;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 750px){
  .rw-sub-container {
    .rw-sub-advantages {
      flex-flow: row wrap;
    }
  }
}