.rw-error-container, .rw-error-401-container, .rw-error-403-container, .rw-error-404-container, .rw-error-500-container, .rw-error-503-container, .rw-error-504-container {
	min-height:300px;
	padding:50px 20px;

	p {
		padding:10px 0;
		font-size:$fontSize + 0.4em;
	}

	p.rw-error-explication {
		font-size:$fontSize + 0.1em;
	}

	.rw-error-red {
			color:$red;
			font-weight:500;
		}
}