/* mathieu */
/* FOND EXAGONE TOP */
.rw-fond-exagone-top{
    z-index:-1;
    position: absolute;
    padding: 20px 0;
    top:280px;
    display:flex;
    width: auto;
    height:auto;
    line-height: 100vh;
    right:0;

}