footer {
	width:100%;
}

.rw-index-footer-bcg {
	margin:0 auto;
	display:block;
	z-index:2;
}

.rw-index-footer-container {
	height:auto;
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	background-color: $grey-light;
	padding:20px 30px;
	z-index:1;
	margin-top:-10px;
}

.rw-index-footer-contact {
	background-color:white;
	margin:auto 0;
	width:100%;
	height:80px;
	border-radius: 3px;
	p {
		text-align:center;
		font-size: $fontSize;
		line-height: 80px;
		a {
			color: $red;
		}
	}
}

.rw-index-footer-btn-subscription {
	width:25%;
	display:flex;
	margin:auto 0;
	min-height:80px;
	position:relative;
	background-color: $grey-dark;
	border-radius: 8px;
	a {
		display:block;
		margin: auto;
		text-align:center;
		color:$grey-light;
		font-size: $fontSize + 0.25em;
		font-weight:600;
	}
}

.rw-index-footer-nav {
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	margin:20px 0;
	width:100%;
	.rw-index-footer-nav-networks {
		display:flex;
		flex-flow:row nowrap;
		.rw-index-footer-nav-bcg-icon {
			width:40px;
			height:40px;
			background: $red url('../../images/reseaux-icon/reseaux-sociaux.png') no-repeat center;
			background-size:30px 30px;
			margin:auto;
		}
		p {
			color: $red;
			font-size: $fontSize + 0.25em;
			margin:auto 20px;
		}
		ul {
			display:flex;
			flex-flow:row nowrap;
			justify-content:space-between;
			height:65px;
			margin:auto;
			li {
				height:65px;
				list-style:none;
				margin:10px;
				&.rw-hidden {
					display:none;
				}
				a {
					display:block;
					img {
						width:40px;
						height:40px;
					}
				}
			}
		}
	}
	.rw-index-footer-nav-list {
		ul {
			height:65px;
			margin:auto;
			display:flex;
			flex-flow:row wrap;
			justify-content:space-between;
			li {
				list-style:none;
				a {
					display:block;
					margin:auto;
					padding:30px 50px;
					color: $red;
					font-size: $fontSize + 0.15;
					&:last-child {
						padding-right:0 !important;
					}
				}
			}
		}
	}
}

	
