.rw-header_container {
	width: 100%;
}

.rw-clear {
	clear: both;
}

.rw-header_top {
	position: relative;
	padding: 0;
	width: 100%;
	height: 136px;
	margin-bottom: 55px;
}

.rw-logo {
	display: block;
	position: absolute;
	height: 100px;
	left: 30px;
	bottom: 0;
}

.rw-slogan {
	position: absolute;
	display: block;
	padding: 0;
	left: 155px;
	bottom: 0;
	line-height: 100px;
	font-size: 32px;

	em {
		color: $red;
		font-style: normal;
	}
}

.rw-search {
	position: absolute;
	height: 50px;
	bottom: -25px;
	right: 0;
	width: 30%;

	.rw-loupe {
		display: block;
		width: 50px;
		height: 50px;
		background-color: $red;
	}

	input[type=search] {
		display: block;
		background-color: $grey;
		float: right;
		padding-left: 52px;
		margin-left: -50px;
		height: 50px;
		width: 100%;
	}
}

.rw-nav {
	height: 90px;
	margin-top: 30px;
	font-size: 0;
	background-color: $grey;

	ul, li {
		display: inline-block;
	}

	.rw-ul_grey {
		background-color: $grey;
		width: 70%;
		text-align: right;
		li:first-child a {
			color: $red;
		}
		a {
			margin-right: 8px;
		}
	}

	.rw-ul_red {
		background-color: $red;
		width: 30%;
		a {
			margin-left: 8px;
			color: white;
		}
	}

	li {
		list-style-type: none;
		line-height: 90px;
		margin: 0;
		font-size: 18px;
	}

	a {
		display: inline-block;
		text-decoration: none;
		line-height: 90px;
		color: black;
		margin: 0 20px;
	}
}