@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  font-size: 0.85em;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/*************************
couleurs métiers
**************************/
/*@import'sass/rw-pp-layout';*/
.rw-pp-main-container {
  width: 100%;
  height: 100vh;
}

.rw-pp-main-container .rw-pp-header {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  background-color: #EBEBE6;
  box-shadow: 0 0.2em 0.3em #7E8B8C;
}

.rw-pp-main-container .rw-pp-header h1, .rw-pp-main-container .rw-pp-header h2 {
  font-size: 2em;
  margin: auto;
  text-transform: uppercase;
  color: #BF382A;
  font-weight: bold;
}

.rw-pp-main-container .rw-pp-header img {
  display: block;
  margin: auto;
  width: 20%;
}

.rw-pp-main-container .rw-pp-main-content {
  padding: 1%;
  margin: 5% auto;
  min-height: 320px;
  text-align: center;
}

.rw-pp-main-container .rw-pp-main-content p {
  width: 80%;
  margin: 1% auto;
  padding: 2%;
}

.rw-pp-main-container .rw-pp-main-content .rw-pp-btn-prop {
  text-align: center;
}

.rw-pp-main-container .rw-pp-main-content .rw-pp-btn-prop .rw-pp-btn-prop-add, .rw-pp-main-container .rw-pp-main-content .rw-pp-btn-prop .rw-pp-btn-prop-cot {
  border: none;
  padding: 3% 5%;
  margin: 3%;
  box-shadow: 0 0.2em 0.3em #7E8B8C;
  cursor: pointer;
}

.rw-pp-main-container .rw-pp-main-btn {
  padding: 1%;
  text-align: center;
  width: 100%;
}

.rw-pp-main-container .rw-pp-main-btn h2 {
  text-decoration: underline;
}

.rw-pp-main-container .rw-pp-main-btn p {
  color: #BF382A;
}

.rw-pp-main-container .rw-pp-main-btn p form {
  margin: auto;
}

.rw-pp-main-container .rw-pp-main-btn p * {
  margin: auto;
  text-transform: capitalize;
}

.rw-pp-main-container .rw-pp-main-add {
  padding: 1%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 150px;
  margin: auto;
}

.rw-pp-main-container .rw-pp-main-add h2 {
  margin: auto;
  text-transform: capitalize;
  padding: 2% 1%;
}

.rw-pp-main-container .rw-pp-main-add p {
  color: #BF382A;
  font-style: italic;
  width: 100%;
}

.rw-pp-main-container .rw-pp-main-add a {
  text-decoration: none;
  color: inherit;
  margin: auto;
}

.rw-pp-main-container .rw-pp-main-add a button {
  border: none;
  padding: 3% 5%;
  cursor: pointer;
  width: 200px;
  margin: 2%;
  box-shadow: 0 0.2em 0.3em #7E8B8C;
}

.rw-pp-main-container .active {
  color: #BF382A;
  font-weight: bold;
}

.rw-pp-main-container footer {
  text-align: center;
  background-color: #EBEBE6;
  box-shadow: 0 0.2em 0.3em #7E8B8C;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.rw-pp-main-container footer form {
  margin: auto;
}

.rw-pp-main-container footer div {
  margin: auto;
}

.rw-pp-main-container footer div h2 {
  font-weight: bold;
}

.rw-pp-main-container footer div p {
  font-style: italic;
}

@media screen and (min-width: 750px) {
  .rw-pp-header img {
    max-width: 15%;
  }
}

@media screen and (min-width: 950px) {
  .rw-pp-header img {
    max-width: 10%;
  }
}
