/*
|--------------------------------------------------------------------------
| Vendor
|--------------------------------------------------------------------------
*/
/* line 1, sass/vendor/_checkbox.bootstrap.scss */
.checkbox {
  padding-left: 20px;
}

/* line 5, sass/vendor/_checkbox.bootstrap.scss */
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

/* line 12, sass/vendor/_checkbox.bootstrap.scss */
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

/* line 28, sass/vendor/_checkbox.bootstrap.scss */
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

/* line 42, sass/vendor/_checkbox.bootstrap.scss */
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

/* line 47, sass/vendor/_checkbox.bootstrap.scss */
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 53, sass/vendor/_checkbox.bootstrap.scss */
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

/* line 58, sass/vendor/_checkbox.bootstrap.scss */
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

/* line 62, sass/vendor/_checkbox.bootstrap.scss */
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

/* line 67, sass/vendor/_checkbox.bootstrap.scss */
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

/* line 71, sass/vendor/_checkbox.bootstrap.scss */
.checkbox.checkbox-inline {
  margin-top: 0;
}

/* line 75, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

/* line 80, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/* line 84, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

/* line 89, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/* line 93, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

/* line 98, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/* line 102, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

/* line 107, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/* line 111, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

/* line 116, sass/vendor/_checkbox.bootstrap.scss */
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

/* line 120, sass/vendor/_checkbox.bootstrap.scss */
.radio {
  padding-left: 20px;
}

/* line 124, sass/vendor/_checkbox.bootstrap.scss */
.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

/* line 131, sass/vendor/_checkbox.bootstrap.scss */
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

/* line 147, sass/vendor/_checkbox.bootstrap.scss */
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

/* line 168, sass/vendor/_checkbox.bootstrap.scss */
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

/* line 173, sass/vendor/_checkbox.bootstrap.scss */
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 179, sass/vendor/_checkbox.bootstrap.scss */
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 186, sass/vendor/_checkbox.bootstrap.scss */
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

/* line 190, sass/vendor/_checkbox.bootstrap.scss */
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

/* line 194, sass/vendor/_checkbox.bootstrap.scss */
.radio.radio-inline {
  margin-top: 0;
}

/* line 198, sass/vendor/_checkbox.bootstrap.scss */
.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}

/* line 202, sass/vendor/_checkbox.bootstrap.scss */
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}

/* line 206, sass/vendor/_checkbox.bootstrap.scss */
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

/* line 210, sass/vendor/_checkbox.bootstrap.scss */
.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

/* line 214, sass/vendor/_checkbox.bootstrap.scss */
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

/* line 218, sass/vendor/_checkbox.bootstrap.scss */
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

/* line 222, sass/vendor/_checkbox.bootstrap.scss */
.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

/* line 226, sass/vendor/_checkbox.bootstrap.scss */
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

/* line 230, sass/vendor/_checkbox.bootstrap.scss */
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

/* line 234, sass/vendor/_checkbox.bootstrap.scss */
.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

/* line 238, sass/vendor/_checkbox.bootstrap.scss */
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

/* line 242, sass/vendor/_checkbox.bootstrap.scss */
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

/* line 246, sass/vendor/_checkbox.bootstrap.scss */
.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

/* line 250, sass/vendor/_checkbox.bootstrap.scss */
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

/* line 254, sass/vendor/_checkbox.bootstrap.scss */
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

/* line 258, sass/vendor/_checkbox.bootstrap.scss */
input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

/* line 263, sass/vendor/_checkbox.bootstrap.scss */
input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}

/* line 267, sass/vendor/_checkbox.bootstrap.scss */
input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}

/*
|--------------------------------------------------------------------------
| Utils
|--------------------------------------------------------------------------
*/
/* line 1, sass/utils/_helper.scss */
.inline-block {
  display: inline-block;
}

/* line 1, sass/utils/_colors.scss */
.btn-neutral {
  background-color: rgba(0, 0, 0, 0.1);
}

/*
|--------------------------------------------------------------------------
| Custom
|--------------------------------------------------------------------------
*/
/* line 1, sass/custom/_forms.scss */
.form-control {
  -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* line 1, sass/custom/_base.scss */
.theme-header {
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

/* line 5, sass/custom/_base.scss */
.thumbnail, .panel {
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

/* line 9, sass/custom/_base.scss */
.btn:not(.btn-default) {
  -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

/* line 13, sass/custom/_base.scss */
.btn-link {
  box-shadow: none !important;
}
