@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/*gris foncé */
/*gris clair*/
/*rouge*/
/*blanc*/
/*noir*/
/*gris très clair footer*/
/* variables */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: auto;
}

/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/
footer {
  width: 100%;
}

.rw-index-footer-bcg {
  margin: 0 auto;
  display: block;
  z-index: 2;
}

.rw-index-footer-container {
  height: 210px;
  width: 100%;
  background-color: #ebebe6;
  padding: 20px 30px;
  z-index: 1;
  margin-top: -10px;
}

.rw-index-footer-contact {
  background-color: #fff;
  float: left;
  width: 68%;
  height: 80px;
  padding: 10px 160px 10px 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rw-index-footer-contact p {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

.rw-index-footer-contact p a {
  color: #bf382a;
}

.rw-index-footer-btn-subscription {
  width: 345px;
  height: 80px;
  background-color: #7e8b8c;
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.rw-index-footer-btn-subscription a {
  display: block;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.rw-index-footer-nav {
  margin-top: 20px;
  width: 100%;
}

.rw-index-footer-nav .rw-index-footer-nav-bcg-icon {
  float: left;
  width: 65px;
  height: 65px;
  background-color: #bf382a;
  background-image: url("../../../../public/images/reseaux-sociaux.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.rw-index-footer-nav p {
  color: #bf382a;
  font-size: 20px;
  line-height: 65px;
  margin: 0 auto;
  float: left;
  width: 200px;
  display: block;
}

.rw-index-footer-nav ul {
  height: 65px;
  float: left;
  margin: 0 auto;
  padding-left: 0px;
}

.rw-index-footer-nav ul li {
  height: 65px;
  display: block;
  float: left;
  list-style: none;
  margin: 15px;
}

.rw-index-footer-nav ul li a {
  display: block;
  color: #bec3c9;
  font-size: 20px;
}

.rw-index-footer-nav ul li a img {
  width: 40px;
  height: 40px;
}

.rw-index-footer-nav ul:last-child {
  float: right;
}

.rw-index-footer-nav ul:last-child li {
  padding-top: 4px;
}

.rw-index-footer-nav ul:last-child li:last-child {
  margin-right: 0px;
}

.clear {
  clear: both;
}

.rw-header_container {
  width: 100%;
}

.rw-clear {
  clear: both;
}

.rw-header_top {
  position: relative;
  padding: 0;
  width: 100%;
  height: 136px;
  margin-bottom: 55px;
}

.rw-logo {
  display: block;
  position: absolute;
  height: 100px;
  left: 30px;
  bottom: 0;
}

.rw-slogan {
  position: absolute;
  display: block;
  padding: 0;
  left: 155px;
  bottom: 0;
  line-height: 100px;
  font-size: 32px;
}

.rw-slogan em {
  color: #ef382a;
  font-style: normal;
}

.rw-search {
  position: absolute;
  height: 50px;
  bottom: -25px;
  right: 0;
  width: 30%;
}

.rw-search .rw-loupe {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ef382a;
}

.rw-search input[type=search] {
  display: block;
  background-color: #ebebe6;
  float: right;
  padding-left: 52px;
  margin-left: -50px;
  height: 50px;
  width: 100%;
}

.rw-nav {
  height: 90px;
  margin-top: 30px;
  font-size: 0;
  background-color: #ebebe6;
}

.rw-nav ul, .rw-nav li {
  display: inline-block;
}

.rw-nav .rw-ul_grey {
  background-color: #ebebe6;
  width: 70%;
  text-align: right;
}

.rw-nav .rw-ul_grey li:first-child a {
  color: #ef382a;
}

.rw-nav .rw-ul_grey a {
  margin-right: 8px;
}

.rw-nav .rw-ul_red {
  background-color: #ef382a;
  width: 30%;
}

.rw-nav .rw-ul_red a {
  margin-left: 8px;
  color: white;
}

.rw-nav li {
  list-style-type: none;
  line-height: 90px;
  margin: 0;
  font-size: 18px;
}

.rw-nav a {
  display: inline-block;
  text-decoration: none;
  line-height: 90px;
  color: black;
  margin: 0 20px;
}

/*
|--------------------------------------------------------------------------
| Layouts
|--------------------------------------------------------------------------
*/
/*DERNIERS ARTICLES*/
.rw-index-last-articles-container, .rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: #ebebe6;
  width: 1140px;
  /*largeur du site - 2x marge de 30px*/
  height: 400px;
  margin: 0 auto;
  padding: 0px 30px;
}

.rw-index-last-articles-container h1, .rw-index-open-articles-container h1, .rw-index-open-articles-container-min h1 {
  color: #bf382a;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 2px 2px 2px #fff;
  margin: 10px 2px;
}

.rw-index-last-article, .rw-index-open-article, .rw-index-open-article-min {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color4', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */
  width: 300px;
  height: 320px;
  border: 4px solid #fff;
  margin-right: 86px;
}

.rw-index-last-article h1, .rw-index-open-article h1, .rw-index-open-article-min h1 {
  color: #000;
  font-size: 15px;
  margin: 5px 2px;
}

.rw-index-last-article img, .rw-index-open-article img, .rw-index-open-article-min img {
  width: 200px;
  height: 206px;
  display: block;
  margin: 0 auto;
}

.rw-index-last-article p, .rw-index-open-article p, .rw-index-open-article-min p {
  text-align: center;
  font-size: 13px;
  padding: 10px 20px;
}

.rw-index-last-article:last-child, .rw-index-open-article:last-child, .rw-index-open-article-min:last-child {
  margin-right: 0px;
}

/*ARTICLES OUVERTS*/
.rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: transparent;
}

.rw-index-open-article {
  border: 0px solid #fff;
  background: transparent;
  height: 300px;
  padding-top: 20px;
}

.rw-index-open-article h1 {
  color: #bf382a;
  margin: 10px 2px;
  font-size: 30px;
}

.rw-index-open-article-content {
  height: 300px;
  -moz-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -webkit-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -o-box-shadow: 2px 2px 10px 0px #7e8b8c;
  box-shadow: 2px 2px 10px 0px #7e8b8c;
  border-bottom: 5px solid #F6D432;
  position: relative;
}

.rw-index-open-article-content img {
  width: 300px;
  height: 224px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #7e8b8c;
}

.rw-index-open-article-content p.rw-index-open-article-bcg {
  height: 72px;
  padding: 15px;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color4', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */
  font-size: 14px;
}

.rw-index-open-article-date {
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  /* la moitié de la hauteur du bloc qui la contient  */
  left: 50%;
  /* la moitié de la largeur du bloc qui la contient  */
  margin-top: -50px;
  /* la moitié de la hauteur de l'image + 20px */
  margin-left: -30px;
  /* la moitié de la largeur de l'image  */
  z-index: 2;
  -moz-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -webkit-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -o-box-shadow: 2px 2px 10px 0px #7e8b8c;
  box-shadow: 2px 2px 10px 0px #7e8b8c;
}

.rw-index-open-article-date p {
  padding: 10px;
  font-size: 11px;
  line-height: 12px;
}

.rw-index-open-article-date p .rw-index-day {
  color: #bf382a;
  font-size: 14px;
}

/*ARTICLES OUVERTS MINIS*/
.rw-index-open-articles-container-min {
  margin-top: 10px;
}

.rw-index-open-article-min {
  -moz-box-shadow: 1px -1px 6px 1px #7e8b8c;
  -webkit-box-shadow: 1px -1px 6px 1px #7e8b8c;
  -o-box-shadow: 1px -1px 6px 1px #7e8b8c;
  box-shadow: 1px -1px 6px 1px #7e8b8c;
  height: 50px;
  width: 300px;
  border: 0px solid #F6D432;
}

.rw-index-article-min-date {
  width: 60px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-color: #ebebe6;
  padding: 5px;
}

.rw-index-article-min-date p {
  display: block;
  margin: 0 auto;
  padding: 0px;
  font-size: 11px;
  line-height: 12px;
}

.rw-index-article-min-date p .rw-index-day {
  color: #bf382a;
  font-size: 14px;
}

.rw-index-article-min-link {
  display: inline-block;
  vertical-align: top;
  width: 236px;
  height: 50px;
}

.rw-index-article-min-link a {
  display: block;
  float: left;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  margin: 0 auto;
  height: 50px;
  width: 200px;
  padding: 5px;
  text-align: center;
}

.rw-index-article-min-link img {
  float: right;
  height: 50px;
  width: 26px;
  border-bottom: 0px solid #000;
  margin-right: 0px;
  display: inline;
}
