
@import "sass/base/variables";

@import "sass/base/reset";

@import "sass/base/base";

/*
|--------------------------------------------------------------------------
| Components
|--------------------------------------------------------------------------
*/

@import "sass/components/footer";

@import "sass/layout/carrousel/carrousel";
 
@import "sass/components/header";

/*
|--------------------------------------------------------------------------
| Layouts
|--------------------------------------------------------------------------
*/

@import "sass/layout/home";
@import "sass/layout/blog";

@import "sass/layout/jobs";

@import "sass/layout/landing";
<<<<<<< HEAD
@import "sass/layout/article-on";
@import "sass/layout/sub";
@import "sass/layout/mentions";
=======
>>>>>>> 2f7b3c48bb213c67fe72601efdb0e7cfb98cb01f
