@import "base/variables";


.rw-pp-main-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $Color2;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
}

