@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);


/*variables*/

$color1 : #7e8b8c; /*gris foncé */
$color2 : #ebebe6; /*gris clair*/
$color3 : #bf382a; /*rouge*/
$color4 : #fff; /*blanc*/
$color5 : #000; /*noir*/
$color6 : #bec3c9; /*gris très clair footer*/

$fontFamily : 'Open Sans', sans-serif;



body{
	width:1200px;
	margin:0 auto;
	font-family:$fontFamily;
	color:$color5;
	a {
		text-decoration:none;
	}
}

* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}


footer {
	width:100%;
}

.rw-index-footer-bcg {
	margin:0 auto;
	display:block;
	z-index:2;
}

.rw-index-footer-container {
	height:210px;
	width:100%;
	background-color:$color2;
	padding:20px 30px;
	z-index:1;
	margin-top:-10px;
}

.rw-index-footer-contact {
	background-color:$color4;
	float:left;
	width:68%;
	height:80px;
	padding:10px 160px 10px 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	p {
		text-align:left;
		font-size:14px;
		line-height:25px;
		a {
			color:$color3;
		}
	}
}

.rw-index-footer-btn-subscription {
	width:345px;
	height:80px;
	background-color:$color1;
	float:right;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	a {
		display:block;
		line-height:80px;
		margin:0 auto;
		text-align:center;
		color:$color4;
		font-size:20px;
		font-weight:600;
	}
}

.rw-index-footer-nav {
	margin-top:20px;
	width:100%;
	.rw-index-footer-nav-bcg-icon {
		float:left;
		width:65px;
		height:65px;
		background-color:$color3;
		background-image:url('../../../../public/images/reseaux-sociaux.png');
		background-position: center;
		background-repeat:no-repeat;
		margin-right:20px;
	}
	p {
		color:$color3;
		font-size:20px;
		line-height:65px;
		margin:0 auto;
		float:left;
		width:200px;
		display:block;
	}
	ul {
		height:65px;
		float:left;
		margin:0 auto;
		padding-left:0px;
		li {
			height:65px;
			display:block;
			float:left;
			list-style:none;
			margin:15px;
			a {
				display:block;
				color:$color6;
				font-size:20px;
				img {
					width:40px;
					height:40px;
				}
			}
		}
		&:last-child{
			float:right;
			li {
				padding-top:4px;
				&:last-child {
					margin-right:0px;
				}
			}
		}
	}
}

.clear {
	clear:both;
}