@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* variables */
/* line 34, index_last_articles.scss */
body {
  width: 1200px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: black;
}

/* line 41, index_last_articles.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*DERNIERS ARTICLES*/
/* line 49, index_last_articles.scss */
.rw-index-last-articles-container, .rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: #ebebe6;
  width: 1140px;
  /*largeur du site - 2x marge de 30px*/
  height: 400px;
  margin: 0 auto;
  padding: 0px 30px;
}
/* line 55, index_last_articles.scss */
.rw-index-last-articles-container h1, .rw-index-open-articles-container h1, .rw-index-open-articles-container-min h1 {
  color: #bf382a;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 2px 2px 2px white;
  margin: 10px 2px;
}

/* line 65, index_last_articles.scss */
.rw-index-last-article, .rw-index-open-article, .rw-index-open-article-min {
  display: inline-block;
  vertical-align: top;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color4', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */
  width: 300px;
  height: 320px;
  border: 4px solid white;
  margin-right: 86px;
}
/* line 80, index_last_articles.scss */
.rw-index-last-article h1, .rw-index-open-article h1, .rw-index-open-article-min h1 {
  color: black;
  font-size: 15px;
  margin: 5px 2px;
}
/* line 85, index_last_articles.scss */
.rw-index-last-article img, .rw-index-open-article img, .rw-index-open-article-min img {
  width: 200px;
  height: 206px;
  display: block;
  margin: 0 auto;
}
/* line 91, index_last_articles.scss */
.rw-index-last-article p, .rw-index-open-article p, .rw-index-open-article-min p {
  text-align: center;
  font-size: 13px;
  padding: 10px 20px;
}

/* line 98, index_last_articles.scss */
.rw-index-last-article:last-child, .rw-index-open-article:last-child, .rw-index-open-article-min:last-child {
  margin-right: 0px;
}

/*ARTICLES OUVERTS*/
/* line 103, index_last_articles.scss */
.rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: transparent;
}

/* line 108, index_last_articles.scss */
.rw-index-open-article {
  border: 0px solid white;
  background: transparent;
  height: 300px;
  padding-top: 20px;
}
/* line 114, index_last_articles.scss */
.rw-index-open-article h1 {
  color: #bf382a;
  margin: 10px 2px;
  font-size: 30px;
}

/* line 121, index_last_articles.scss */
.rw-index-open-article-content {
  height: 300px;
  -moz-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -webkit-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -o-box-shadow: 2px 2px 10px 0px #7e8b8c;
  box-shadow: 2px 2px 10px 0px #7e8b8c;
  border-bottom: 5px solid #f6d432;
  position: relative;
}
/* line 129, index_last_articles.scss */
.rw-index-open-article-content img {
  width: 300px;
  height: 224px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #7e8b8c;
}
/* line 136, index_last_articles.scss */
.rw-index-open-article-content p.rw-index-open-article-bcg {
  height: 72px;
  padding: 15px;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color4', endColorstr='$color2',GradientType=0 );
  /* IE6-9 */
  font-size: 14px;
}

/* line 151, index_last_articles.scss */
.rw-index-open-article-date {
  background-color: white;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  /* la moitié de la hauteur du bloc qui la contient  */
  left: 50%;
  /* la moitié de la largeur du bloc qui la contient  */
  margin-top: -50px;
  /* la moitié de la hauteur de l'image + 20px */
  margin-left: -30px;
  /* la moitié de la largeur de l'image  */
  z-index: 2;
  -moz-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -webkit-box-shadow: 2px 2px 10px 0px #7e8b8c;
  -o-box-shadow: 2px 2px 10px 0px #7e8b8c;
  box-shadow: 2px 2px 10px 0px #7e8b8c;
}
/* line 169, index_last_articles.scss */
.rw-index-open-article-date p {
  padding: 10px;
  font-size: 11px;
  line-height: 12px;
}
/* line 173, index_last_articles.scss */
.rw-index-open-article-date p .rw-index-day {
  color: #bf382a;
  font-size: 14px;
}

/*ARTICLES OUVERTS MINIS*/
/* line 181, index_last_articles.scss */
.rw-index-open-articles-container-min {
  margin-top: 10px;
}

/* line 186, index_last_articles.scss */
.rw-index-open-article-min {
  -moz-box-shadow: 1px -1px 6px 1px #7e8b8c;
  -webkit-box-shadow: 1px -1px 6px 1px #7e8b8c;
  -o-box-shadow: 1px -1px 6px 1px #7e8b8c;
  box-shadow: 1px -1px 6px 1px #7e8b8c;
  height: 50px;
  width: 300px;
  border: 0px solid #f6d432;
}

/* line 197, index_last_articles.scss */
.rw-index-article-min-date {
  width: 60px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-color: #ebebe6;
  padding: 5px;
}
/* line 207, index_last_articles.scss */
.rw-index-article-min-date p {
  display: block;
  margin: 0 auto;
  padding: 0px;
  font-size: 11px;
  line-height: 12px;
}
/* line 213, index_last_articles.scss */
.rw-index-article-min-date p .rw-index-day {
  color: #bf382a;
  font-size: 14px;
}

/* line 220, index_last_articles.scss */
.rw-index-article-min-link {
  display: inline-block;
  vertical-align: top;
  width: 236px;
  height: 50px;
}
/* line 225, index_last_articles.scss */
.rw-index-article-min-link a {
  display: block;
  float: left;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin: 0 auto;
  height: 50px;
  width: 200px;
  padding: 5px;
  text-align: center;
}
/* line 237, index_last_articles.scss */
.rw-index-article-min-link img {
  float: right;
  height: 50px;
  width: 26px;
  border-bottom: 0px solid #000;
  margin-right: 0px;
  display: inline;
}
