.rw-carrous-body{
    width:1200px;


    .rw-carrous-body-content{
        position:relative;


        .rw-carrous-body-content-article-screen{
            display: inline-block;
            width:416px;
            height:370px;
            margin-left:40px;
        }

        .rw-carrous-body-content-article{
            position:absolute;
            display: inline-block;
            width:600px;
            top:20px;
            margin-left:30px;

            .rw-carrous-body-content-article-text-h1{
                display: block;
                color:blue;
                font-size:32px;
                line-height: 40px;
                margin-bottom:10px;
            }

            .rw-carrous-body-content-article-text-p{
             display: block;
                font-size:24px;
                line-height: 32px;
            }
        }
    }
}

.rw-readmore,
.rw-readmore a{
    color:blue;
}