.rw-carrous {
  margin:70px auto;
  width:900px;
  height:370px;
  position: relative;


  .rw-carrous-body{
    width:900px;
    height:370px;
    padding:5px;
    position: relative;


  .rw-carrous-body-content {
      position: relative;
      height: 370px;
      overflow: hidden;
    margin: auto;


    .rw-carrous-body-content-article-screen{
            display: inline;
            width:416px;
            height:370px;
            margin:auto;
        }

        .rw-carrous-body-content-article{
            position:absolute;
            display: inline;
            width:600px;
            top:20px;
            margin:auto;
          padding: 0 20px;


          .rw-carrous-body-content-article-text-h1{
                display: block;
                font-size:32px;
                line-height: 40px;
                margin-bottom:20px;
            }

            .rw-carrous-body-content-article-text-p{
                display: block;
                font-size:$fontSize + 0.2;
                line-height: $lineHeight;
                width: 70%;

              button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 5px;

                &:hover {
                  background-color: rgba($grey-dark, 0.5);
                  color: #FFFFFF!important;
                  border-radius: 10px;
                }
              }
            }
        }
    }
  }
}

.rw-readmore,
.rw-readmore a{
    color:inherit;
}

.bx-wrapper {
  border:none;
  background: none;
  box-shadow: none;
}

.bx-wrapper .bx-prev {
  left: -35px;
}
.bx-wrapper .bx-next {
  right: -35px;
}
