@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| Vendor
|--------------------------------------------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,500);
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}

/*
|--------------------------------------------------------------------------
| Utils
|--------------------------------------------------------------------------
*/
.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.btn-neutral {
  background-color: rgba(0, 0, 0, 0.1);
}

.affix {
  position: fixed;
  top: 20px;
}

/*
|--------------------------------------------------------------------------
| Custom
|--------------------------------------------------------------------------
*/
.form-control {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.theme-header {
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.thumbnail, .panel {
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.btn:not(.btn-default) {
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.btn-link {
  box-shadow: none !important;
}

/*gris foncé */
/*gris clair*/
/*rouge*/
/* variables */
/* colors: connexion, deconnexion, newsletter */
/* mixin */
/* Header */
/*************************
EXTENDS
**************************/
.rw-blog-article-container:before, .rw-blog-article-container:after {
  content: " ";
  display: table;
}
.rw-blog-article-container:after {
  clear: both;
}

.rw-bdc-triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  border-style: solid;
}

/*couleurs job triangles*/
.rw-job-color-triangle-1 {
  border-color: transparent transparent #F6D432 transparent !important;
}

.rw-job-color-triangle-2 {
  border-color: transparent transparent #36A7DE transparent !important;
}

.rw-job-color-triangle-3 {
  border-color: transparent transparent #F59E36 transparent !important;
}

.rw-job-color-triangle-4 {
  border-color: transparent transparent #EB6441 transparent !important;
}

.rw-job-color-triangle-5 {
  border-color: transparent transparent #38AA49 transparent !important;
}

.rw-job-color-triangle-6 {
  border-color: transparent transparent #B76DAB transparent !important;
}

/*couleurs job bordures*/
.rw-job-color-1 {
  border: 2px solid #F6D432 !important;
}

.rw-job-color-2 {
  border: 2px solid #36A7DE !important;
}

.rw-job-color-3 {
  border: 2px solid #F59E36 !important;
}

.rw-job-color-4 {
  border: 2px solid #EB6441 !important;
}

.rw-job-color-5 {
  border: 2px solid #38AA49 !important;
}

.rw-job-color-6 {
  border: 2px solid #B76DAB !important;
}

/*couleurs job background*/
.rw-job-color-bgc-1 {
  background-color: #F6D432 !important;
}

.rw-job-color-bgc-2 {
  background-color: #36A7DE !important;
}

.rw-job-color-bgc-3 {
  background-color: #F59E36 !important;
}

.rw-job-color-bgc-4 {
  background-color: #EB6441 !important;
}

.rw-job-color-bgc-5 {
  background-color: #38AA49 !important;
}

.rw-job-color-bgc-6 {
  background-color: #B76DAB !important;
}

/*couleurs txt job*/
.rw-job-color-txt-1 {
  color: #F6D432 !important;
}

.rw-job-color-txt-2 {
  color: #36A7DE !important;
}

.rw-job-color-txt-3 {
  color: #F59E36 !important;
}

.rw-job-color-txt-4 {
  color: #EB6441 !important;
}

.rw-job-color-txt-5 {
  color: #38AA49 !important;
}

.rw-job-color-txt-6 {
  color: #B76DAB !important;
}

.rw-blog-article-main-container {
  margin: 30px 0;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
  color: #000;
}
.rw-blog-article-main-container a {
  color: inherit;
}

.rw-blog-article-container {
  width: 70%;
  height: auto;
  margin: 20px auto;
  position: relative;
  padding-bottom: 2%;
  font-size: 1em;
}
.rw-blog-article-container .rw-blog-article-content-fct {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875em;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.rw-blog-article-container .rw-blog-article-content-fct span {
  margin: auto 0;
  padding: 5px 10px;
}
.rw-blog-article-container .rw-blog-article-content-fct span p {
  display: inline;
}
.rw-blog-article-container .rw-blog-article-content-fct span:nth-child(2) i {
  cursor: pointer;
  padding: 0 2px;
}
.rw-blog-article-container .rw-blog-article-content-fct span:nth-child(3) i {
  cursor: pointer;
  padding: 0 2px;
}
.rw-blog-article-container .rw-blog-article-content-fct span:nth-child(3) i:nth-child(1), .rw-blog-article-container .rw-blog-article-content-fct span:nth-child(3) i:nth-child(3) {
  font-size: 1.25em;
}
.rw-blog-article-container .rw-blog-article-content-fct span:nth-child(3) i:nth-child(2) {
  font-size: 0.8em;
  padding: 0;
}

.rw-bdc-triangle {
  border-width: 0 0 40px 40px;
}

/*************************
Bloc Titre de l'article
**************************/
.rw-blog-article-header {
  background-image: -webkit-linear-gradient(#ffffff, #ebebe6);
  background-image: linear-gradient(#ffffff, #ebebe6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 75px;
}
.rw-blog-article-header p {
  padding: 2%;
  margin: auto;
}

.rw-blog-article-header-date {
  width: 100px;
  padding: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #ebebe6;
  font-size: 14px;
}

.rw-blog-article-header h4 {
  text-align: left;
  width: 90%;
  margin: auto;
  padding: 10px;
  text-shadow: 2px 2px 2px #ffffff;
  line-height: 1.5em;
}

/*************************
jour date et nombre commentaires en rouge
**************************/
.rw-blog-article-header-date-red {
  color: #bf382a;
  font-size: 20px;
}

.rw-blog-article-comment-nbr-red {
  color: #bf382a;
  font-size: 24px;
  font-weight: bold;
}

/*************************
Bloc contenu de l'article
**************************/
.rw-blog-article-content {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.rw-blog-article-content h1 {
  font-size: 2.3em;
}
.rw-blog-article-content h2 {
  font-size: 2em;
}
.rw-blog-article-content h3 {
  font-size: 1.8em;
}
.rw-blog-article-content h3 {
  font-size: 1.6em;
}
.rw-blog-article-content h4 {
  font-size: 1.4em;
}
.rw-blog-article-content h5 {
  font-size: 1.2em;
}
.rw-blog-article-content h6 {
  font-size: 1em;
}
.rw-blog-article-content pre {
  color: #ff1010;
}
.rw-blog-article-content blockquote {
  border-left: 2px solid #7e8b8c;
  padding: 10px;
  letter-spacing: 3px;
  font-size: 0.9em;
  background-color: #ebebe6;
  width: 80%;
  margin: auto;
}
.rw-blog-article-content blockquote:before, .rw-blog-article-content blockquote:after {
  content: "\"";
}
.rw-blog-article-content p b {
  font-weight: 400;
}
.rw-blog-article-content p i {
  font-style: italic;
}
.rw-blog-article-content p u {
  text-decoration: underline;
}
.rw-blog-article-content p strike {
  text-decoration: line-through;
}
.rw-blog-article-content p img {
  margin: auto;
  width: auto;
}
.rw-blog-article-content ul {
  list-style: circle inside;
  width: 90%;
  margin: auto;
}
.rw-blog-article-content ul li {
  padding: 5px 0;
}
.rw-blog-article-content ol {
  list-style: normal inside;
  width: 90%;
  margin: auto;
}
.rw-blog-article-content ol li {
  padding: 5px 0;
}
.rw-blog-article-content img {
  margin: auto;
}
.rw-blog-article-content a {
  text-decoration: underline;
}

.rw-blog-article-content p, .rw-blog-article-content-auth {
  text-align: justify;
  margin: auto;
  width: 90%;
  padding: 10px;
  line-height: 1.5em;
}

.rw-blog-article-content-auth {
  font-weight: bold;
  text-transform: capitalize;
}

.rw-show-panel {
  font-weight: 600;
  color: #16A086;
}
