/*articles : index */

.rw-articles-index-container {
	h3 {
		margin:0;
		font-size:18px;
		font-weight:300;
		color:#000;
	}

	.rw-articles-index-maj {
		font-weight:400;
		color:#fff;
		font-size:13px;
	}

	.label-info {
    	background-color: $grey-light;
    	color:#333;
    	font-weight:500;
	}

	.label-sticky {
		background-color:#e35252;
    	color:#fff;
    	font-weight:500;
	}

	.label {
		font-size:14px;
		margin:0 2px;
	}

	.panel {
    	box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
    	margin: 30px auto;
	}

	.panel-heading{
		padding:10px;
	}

	.panel-body {
		padding:10px;
		min-height:90px;
		p {
			margin:5px 0 10px 0;
			font-size:15px;
			line-height:18px;
		}
	}

	.panel-footer {
		padding: 0 10px;
		height: 38px;
		line-height: 33px;
		form {
			.btn {
				margin:-2px 0 0 0;
			}

			.btn-primary {
				margin-left:3px !important;
			}
		}
	}
}