.theme-header {
	@include box-shadow(0 2px rgba(black, 0.1));
	}

.thumbnail, .panel {
	@include box-shadow(0 2px rgba(black, 0.1));
}

.btn:not(.btn-default) {
	@include box-shadow(0 2px rgba(black, 0.1));
}

.btn-link {
	box-shadow: none !important;
}


/*couleurs du thème : blanc, gris, rouge*/

body {
	background-color:#fff;
	color: #333;
}

.navbar-default {
    background-color:#808080;
    color:white;
}

.panel-default > .panel-heading {
    background-color:#808080;
    .text-info, .text-info:hover {
    	color:#fff;
	}
}

.panel {
    background-color:$grey-light;
    color: #333;
}

.panel-footer {
    background-color:#808080;
}

.navbar-nav > li > a {
    line-height: 26px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color:#333;
    background-color:$grey-light;
}

.navbar, .dropdown-menu > li > a {
    font-size: 14px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #333;
    color:#fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu  {
    color: #fff;
    background-color: #808080;
}

.dropdown-menu > li > a:hover {
	color: #333;
    background-color: $grey-light;
}

.dropdown-menu {
	min-width:120px;
}

.nav > li > a {
    padding: 10px 19px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #808080;
    color: #fff;
}

.theme-header {
    box-shadow: 0px 0px !important;
}

.bg-success {
    background-color:$colorOpen;
}

a {
    color: #e35252;
    &:hover {
    	color: #e35252;
    }
    &:focus {
    	color: #e35252;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color:$colorOpen;
    color:$grey-light;
}

.nav-pills > li > a {
    color:#333;
}

.breadcrumb {
    background-color: $grey-light;
}

.breadcrumb > .active {
    color: #808080;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color:$colorOpen;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default.focus[disabled], fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active {
    background-color:$grey-light;
}

.btn-default {
    color: #333;
    background-color:$grey-light;
}

.btn-success {
    background-color:$colorOpen;
}

.btn-default:hover, .rw-btn-red:hover, .rw-btn-red:focus, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color:$grey-light;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #333;
    background-color:$grey-light;
}

.btn-primary {
    color: #FFF;
    background-color: #333;
}

.btn-group {
	.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	    color: #fff;
	    background-color: #333;
	} 
}

.modal-content {
	.btn-default:hover, .rw-btn-red:hover, .rw-btn-red:focus, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
		color: #fff;
	    background-color: #808080;
	}
	.btn-default{
		color: #fff;
	    background-color: #333;
	}
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #e35252;
}

.rw-btn-red {
	background-color: #e35252 !important;
	color: #FFF;
	&:hover {
		background-color: $grey-light !important;
		color: #333 !important;
	}
}

.label-default {
    background-color: #e35252;
}

.label {
    font-size: 88%;
}

.label-info {
    background-color: $colorOpen;
}

.radio-success input[type="radio"] + label::after {
  background-color: $colorOpen;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: $colorOpen;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: $colorOpen;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: $colorOpen;
  border-color: $colorOpen;
}

.modal-header, .modal-footer {
    background-color: $grey-light;
}

.modal-content {
    background-color: #808080;
}

.alert-info {
    background-color: #e35252;
}

.text-info, .text-info:hover {
    color: $colorOpenHover;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid $grey-light;
}

.table {
    background-color: $grey-light;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: $grey-light;
}

caption {
    color: #333;
}

table a:not(.btn), .table a:not(.btn) {
    color: #e35252;
    text-decoration: none;
}

table, .table {
    font-size: 13px;
}