.rw-metiers-create {

  .btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active {
    color: #FFFFFF;
    background-color:$colorOpenHover !important;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  .rw-metiers-create-img {
    text-align: center;
    height: 42px;
    display: block;
    margin: auto;
  }

  .rw-metiers-create-date {
    text-align: center;

    p {
      margin: 0;
      color: #FFFFFF;
      span {
        font-weight: 500;
      }
    }
  }
}

.rw-metiers-fiches {

  h2 {
    text-align: center;

    span {
      color: $red;
    }
  }
  .panel-heading {
    font-size: $fontSize + 0.2;
    font-weight: 500;

    span {
      color: #000;
    }
  }

  .panel {
    margin: 20px auto;
  }

  .panel-body {
    min-height: 90px;
  }

  .panel-footer {
    form {
      text-align: right;
    }
  }
}