.rw-users-table {
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 0;
		padding-right: 0;
	}
	section {

		table.dataTable.no-footer {
	    	border-bottom: 1px solid $grey-light;
		}

		.table-bordered > tbody > tr > td {
    		border-bottom: 1px solid $grey-light !important;
    		border-top: 1px solid $grey-light !important;
		}

		table.dataTable thead th, table.dataTable thead td {
		    border-bottom: 1px solid $grey-light !important;
		}

		.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
		    color: #323C46;
		    background-color: $grey-light;
		}

		.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
		    color: $colorOpen;
		    background-color: $grey-light;
		}

		table {
			th {
				text-align:center;
				padding:0 0 1px 0 !important;

				select.form-control {
					background-color: #2B3E50;
					color:white;
					font-size: 12px;
					box-shadow: none;
					width:100%;
					text-align: center;
					padding: 8px 10px;
				}
			}
			td {
				text-align:center;
				.user-avatar {
					width:50px;
					height:50px;
					border-radius:25px;
				}
				.thumbnail {
				    background-color: $grey-dark;
				    margin:auto;
				    display:block;
				    padding:3px;
				}
			}
		}
	}
}
