@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,500);

$fontFamily: 'Open Sans', sans-serif;
$fontSize: 1em;
$lineHeight: $fontSize + 0.5em;

$grey-dark:#7e8b8c;
/*gris foncé */
$grey-light:#ebebe6;
/*gris clair*/
$red: #bf382a;
/*rouge*/

/* variables */

$colorMarket: #F59E36;
$colorDev: #F6D432;
$colorDesignClair: #72CFF5;
$colorDesignFonce: #36A7DE;
$colorRefClair: #B76DAB;
$colorRefFonce: #942581;
$colorInteClair: #DCDD1F;
$colorInteFonce: #38AA49;
$colorCmClair: #EB6441;
$colorCmFonce: #E72E2D;

//couleur pour icone "autour du web"
$colorWeb: #1075bc;


/* colors: connexion, deconnexion, newsletter */

$colorOpen: #16A086;
$colorOpenHover: #037E69;
$colorClose: #E84C3D;
$colorCloseHover: #C1392B;

/* mixin */

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

/* Header */

$header-height: 136px;

/*************************
EXTENDS
**************************/

%clearfix {
  &:before,
  &:after { content: " "; display: table; }
  &:after { clear: both; }
}

%arrow {
  position:absolute;
  right:0;
  bottom:0;
  width: 0;
  border-style: solid;
}

/*couleurs job bordures*/
.rw-job-color-1 {
  border:2px solid $colorDev !important;
}

.rw-job-color-2 {
  border:2px solid $colorDesignFonce !important;
}

.rw-job-color-3 {
  border:2px solid $colorMarket !important;
}

.rw-job-color-4 {
  border:2px solid $colorCmClair !important;
}

.rw-job-color-5 {
  border:2px solid $colorInteFonce !important;
}

.rw-job-color-6 {
  border:2px solid $colorRefClair !important;
}

.rw-job-color-7 {
  border:2px solid $colorWeb !important;
}

/*couleurs job background*/
.rw-job-color-bgc-1 {
  background-color: $colorDev !important;
}

.rw-job-color-bgc-2 {
  background-color: $colorDesignFonce !important;
}

.rw-job-color-bgc-3 {
  background-color: $colorMarket !important;
}

.rw-job-color-bgc-4 {
  background-color: $colorCmClair !important;
}

.rw-job-color-bgc-5 {
  background-color: $colorInteFonce !important;
}

.rw-job-color-bgc-6 {
  background-color: $colorRefClair !important;
}

.rw-job-color-bgc-7 {
  background-color: $colorWeb !important;
}

/*couleurs bcg test*/

.rw-job-color-bcg-test-1 {
  background-color: #fbc711 !important;
}

.rw-job-color-bcg-test-2 {
  background-color: #62b3d4 !important;
}

.rw-job-color-bcg-test-3 {
  background-color: $colorMarket !important;
}

.rw-job-color-bcg-test-4 {
  background-color: $colorCmClair !important;
}

.rw-job-color-bcg-test-5 {
  background-color: #38ad59 !important;
}

.rw-job-color-bcg-test-6 {
  background-color: $colorRefClair !important;
}

.rw-job-color-bcg-test-7 {
  background-color: $colorWeb !important;
}


/*couleurs txt job*/
.rw-job-color-txt-1 {
  color: $colorDev !important;
}

.rw-job-color-txt-2 {
  color: $colorDesignFonce !important;
}

.rw-job-color-txt-3 {
  color: $colorMarket !important;
}

.rw-job-color-txt-4 {
  color: $colorCmClair !important;
}

.rw-job-color-txt-5 {
  color: $colorInteFonce !important;
}

.rw-job-color-txt-6 {
  color: $colorRefClair !important;
}

.rw-job-color-txt-7 {
  color: $colorWeb !important;
}