@media screen and (max-width: 320px){


  .rw-index-footer-container{

    padding: 0;
    height: 86px;
  }
  .rw-index-footer-nav{
    display: flex;
    flex-direction: column;



    .rw-index-footer-nav-list {
      background-color: #bf382a;
      width: 100%;
      height: 50px;


       ul {
         justify-content: flex-start;
         align-items: flex-end;

         li {

         }
       }

    }
  }

  .rw-index-footer-nav .rw-index-footer-nav-list ul li a {
    margin: 0 auto;
    font-size: 1.0em;
    color: #ffffff;
  }





}