/*
    CARROUSEL DE LA HOME PAGE
    MATHIEU HO
*/


* {
  box-sizing: border-box;
}

.rw-carrous{
    width:1200px;
    padding: 60px 0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
}


.rw-fond-exagone-top{
    position: absolute;
    padding: 20px 0;
    display:flex;
    width: auto;
    height:auto;
    line-height: 100vh;
    right:0;

}

@import "component/jobnav";
@import "component/jobdescription";