* {
<<<<<<< HEAD
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
}

.container {
	width: 1200px;
	margin: auto;
}

a {
	text-decoration:none;
}

.clear {
	clear:both;
=======
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  width: 1200px;
  margin: auto;
>>>>>>> 6b26a5423a3baeba6d1edc886b567ca91b9d32ca
}