
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: $fontFamily;
    font-weight: 300;
	margin: 0 auto;
	padding-top: 0;
    color: #333;
  & > * {
    font-family: $fontFamily;
    font-weight: 300;
  }


	&.has-nav-fixed {
		padding-top: $header-height;
	}
}

a, button, input[type=submit] {
  cursor: pointer;
}

.container {
	max-width:1280px;
	margin: auto;
}

a, a:visited {
	text-decoration:none;
  color:inherit;
  &:hover {
    color:inherit;
  }
}

.clear {
	clear:both;
}


/*************************
EXTENDS
**************************/

%clearfix {
  &:before,
  &:after { content: " "; display: table; }
  &:after { clear: both; }
}

%arrow {
  position:absolute;
  right:0;
  bottom:0;
  width: 0;
  border-style: solid;
}

%balisageText {
  * {
    line-height: 1.5;
  }
  h1 {
    font-size: $fontSize + 1;
    padding: 10px 0;
  }
  h2 {
    font-size: $fontSize + 0.8;
    padding: 10px 0;
  }
  h3 {
    font-size: $fontSize + 0.6;
    padding: 10px 0;
  }
  h4 {
    font-size: $fontSize + 0.4;
    padding: 10px 0;
  }
  h5 {
    font-size: $fontSize + 0.2;
    padding: 10px 0;
  }
  h6 {
    font-size: $fontSize;
    padding: 10px 0;
  }

  blockquote {
    border-left: 2px solid $grey-dark;
    padding: 10px;
    letter-spacing: 3px;
    font-size: $fontSize - 0.1;
    background-color: $grey-light;
    width: 80%;
    margin: 5px auto;

    &:before, &:after {
      content: "\"";
      font-size: 2em;
    }
  }

  b {
    font-weight: 400;
  }

  i {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  strong {
    font-weight: bold;
  }

  strike {
    text-decoration: line-through;
  }

  img {
    margin: auto;
    max-width: 100%;
  }

  ul {
    list-style: disc inside;
    width: 90%;
    margin: auto;

    li {
      padding: 5px 0;
    }
  }

  ol {
    list-style: normal inside;
    width: 90%;
    margin: auto;

    li {
      padding: 5px 0;
    }
  }
}

/*couleurs job triangles*/
.rw-job-color-triangle-1 {
	border-color: transparent transparent $colorDev transparent !important;
}

.rw-job-color-triangle-2 {
	border-color: transparent transparent $colorDesignFonce transparent !important;
}

.rw-job-color-triangle-3 {
	border-color: transparent transparent $colorCmClair transparent !important;
}

.rw-job-color-triangle-4 {
	border-color: transparent transparent $colorMarket transparent !important;
}

.rw-job-color-triangle-5 {
	border-color: transparent transparent $colorInteFonce transparent !important;
}

.rw-job-color-triangle-6 {
	border-color: transparent transparent $colorRefClair transparent !important;
}
.rw-job-color-triangle-7 {
	border-color: transparent transparent $colorWeb transparent !important;
}

/*couleurs job bordures*/
.rw-job-color-1 {
  border:2px solid $colorDev !important;
}

.rw-job-color-2 {
  border:2px solid $colorDesignFonce !important;
}

.rw-job-color-3 {
  border:2px solid $colorCmClair !important;
}

.rw-job-color-4 {
  border:2px solid $colorMarket !important;
}

.rw-job-color-5 {
  border:2px solid $colorInteFonce !important;
}

.rw-job-color-6 {
  border:2px solid $colorRefClair !important;
}
.rw-job-color-7 {
  border:2px solid $colorWeb !important;
}

/*couleurs job background*/
.rw-job-color-bgc-1 {
  background-color: $colorDev !important;
}

.rw-job-color-bgc-2 {
  background-color: $colorDesignFonce !important;
}

.rw-job-color-bgc-3 {
  background-color: $colorCmClair !important;
}

.rw-job-color-bgc-4 {
  background-color: $colorMarket !important;
}

.rw-job-color-bgc-5 {
  background-color: $colorInteFonce !important;
}

.rw-job-color-bgc-6 {
  background-color: $colorRefClair !important;
}
.rw-job-color-bgc-7 {
  background-color: $colorWeb !important;
}

/*couleurs job pour du texte*/
.rw-job-color-txt-1 {
  color: $colorDev !important;
}

.rw-job-color-txt-2 {
  color: $colorDesignFonce !important;
}

.rw-job-color-txt-3 {
  color: $colorCmClair !important;
}

.rw-job-color-txt-4 {
  color: $colorMarket !important;
}

.rw-job-color-txt-5 {
  color: $colorInteFonce !important;
}

.rw-job-color-txt-6 {
  color: $colorRefClair !important;
}

.rw-job-color-txt-7 {
  color: $colorWeb !important;
}

.rw-hidden {
  display:none !important;
}

/*couleurs right background*/
.rw-right-color-bgc-1 {
  background-color: $colorDesignClair !important;
}

.rw-right-color-bgc-2 {
  background-color: $colorMarket !important;
}

.rw-right-color-bgc-3 {
  background-color: $colorRefClair !important;
}

.rw-right-color-bgc-4 {
  background-color: $red !important;
}

.not_screen{
  display: none;
}