
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding-top: 0;

	&.has-nav-fixed {
		padding-top: $header-height;
	}
}

.container {
	max-width:1200px;
	margin: auto;
}

a {
	text-decoration:none;
}

.clear {
	clear:both;
}

/*************************
EXTENDS
**************************/

%clearfix {
  &:before,
  &:after { content: " "; display: table; }
  &:after { clear: both; }
}

%arrow {
  position:absolute;
  right:0;
  bottom:0;
  width: 0;
  border-style: solid;
}