$orange:"";
$grey1:"#ebebe6";
$grey2:"#7e8b8c";
$rouge:#bf382a;

$marketing:"#f59e36";
$developement:"#f6d432";
$design1:"#72cff5";
$design2:"#36a7de";
$referencement1:"#b76dab";
$referencement2:"#942581";
$cm1:"#eb6441";
$cm2:"#e72e2d";

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


@mixin transition2($delay, $duration, $property) {
transition: {
duration: $duration;
property: $property;
timing-function: cubic-bezier(0.55, 0.01, 0.11, 0.99);
} 
}

