@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$fontFamily : 'Open Sans', sans-serif;

$red: #ef382a;
$grey: #ebebe6;

$color1 : #7e8b8c; /*gris foncé */
$color2 : #ebebe6; /*gris clair*/
$color3 : #bf382a; /*rouge*/
$color4 : #fff; /*blanc*/
$color5 : #000; /*noir*/
$color6 : #bec3c9; /*gris très clair footer*/