@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

$fontFamily : 'Open Sans', sans-serif;

$grey-dark: #7e8b8c; /*gris foncé */
$grey-light: #ebebe6; /*gris clair*/
$red: #bf382a; /*rouge*/


/* variables */

$colorMarket : #F59E36;
$colorDev : #F6D432;
$colorDesignClair : #72CFF5;
$colorDesignFonce : #36A7DE;
$colorRefClair : #B76DAB;
$colorRefFonce : #942581;
$colorInteClair : #DCDD1F;
$colorInteFonce : #38AA49;
$colorCmClair : #EB6441;
$colorCmFonce : #E72E2D;



/* mixin */

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


