/*************************
HEADER
**************************/
@media all and (min-width:480px) and  (max-width: 955px) {


  header {
    .rw-header_top {
      top: -10px;

      .rw-slogan {
        line-height: 1;
        bottom: 31px;
        font-size: $fontSize + 1.5;

        br {
          display: none;
        }
      }
    }

  }

  #rw-nav {
    font-size: $fontSize;
    height: auto;
    margin-top: 15px;

    li a {
      line-height: 2;
      width: 100%;
    }

  }

  .rw-logo-fix {
    display: none;
  }


}


@media all and (max-width: 479px){
  header {

    .rw-header_top {
      height: 60px;
      margin: 10px 15px 10px -10px;
      top: 50px;
    }

    .rw-logo {
      height: 60px;
      left: 20px;
      bottom: 50px;
    }

    .rw-slogan {
      left: 98px;
      bottom: 55px;
      line-height: 1;
      font-size: $fontSize + 0.6;

    }

    #rw-nav {
      flex-flow: column nowrap;
      position: static;
      font-size: $fontSize + 0.2;
      height: auto;
      text-align: center;
      margin-top: 10px;

      li {

        a {
          line-height: 2;
        }
      }

      .rw-ul_grey {
        flex-flow: column nowrap;
        width: 100%;
      }

      .rw-ul_red {
        width: 100%;
      }
    }

    }

    /*************************
   LOG NEWS
  **************************/
    .rw-lognews-login {
      z-index: 99999;
      right: 8px;
      top: 0;
    }
    .rw-lognews-newsletter {
      display: none;
    }

  /*************************
    Derniers articles
  **************************/

  .rw-index-last-articles-container h1 {
    font-size: 1.6em;
  }
    /*************************
    articles min vignettes
    **************************/

    .rw-index-open-articles-container-min {
      width: 100%;

      .rw-index-open-article-min {
        width: 100%;

        .rw-index-open-article-min-date {
          width: 20%;
        }

        .rw-index-open-article-min-link {
          width: 80%;
          .rw-index-open-article-min-icons {
            height: 20px;
            img {
              height: 30px;
            }
          }
          .rw-index-open-article-min-title {
            width: 100%;
          }
        }
      }
    }
  /*************************
   filtre metiers
    **************************/
  .rw-blog-jf {

    min-height: 80px;

    .rw-blog-jf-navbar-job {
      margin: 0 0.8%;

      a {
        width: 50px;
        height: 50px;
        margin-left: 0;
        img {
          width: 40px;
          @include transition(all, 0.3s, ease-in-out);

        }
      }
    }
  }

}


