@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* line 3, footer.scss */
body {
  width: 1200px;
  margin: 0 auto;
  /*border:1px solid black;*/
}

/*variables*/
/* line 38, footer.scss */
footer {
  height: 210px;
  width: 100%;
  background-color: #ebebe6;
  box-sizing: border-box;
  padding: 30px;
}
