@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* line 3, footer.scss */
body {
  width: 1200px;
  margin: 0 auto;
  /*border:1px solid black;*/
}

/* line 9, footer.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*variables*/
/* line 28, footer.scss */
footer {
  height: 210px;
  width: 100%;
  background-color: #ebebe6;
  padding: 20px 30px;
}
/* line 33, footer.scss */
footer p {
  font-family: "Open Sans", sans-serif;
}

/* line 38, footer.scss */
.rw-index-footer-contact {
  background-color: white;
  float: left;
  width: 68%;
  height: 80px;
  padding: 10px 160px 10px 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 47, footer.scss */
.rw-index-footer-contact p {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}
/* line 51, footer.scss */
.rw-index-footer-contact p a {
  text-decoration: none;
  color: #bf3a27;
}

/* line 58, footer.scss */
.rw-index-footer-btn-subscription {
  width: 345px;
  height: 80px;
  background-color: #7e8c8d;
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 66, footer.scss */
.rw-index-footer-btn-subscription a {
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 80px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

/* line 78, footer.scss */
.rw-index-footer-nav {
  margin-top: 20px;
  width: 100%;
  display: block;
  /*test en attendant d'avoir l'image*/
}
/* line 84, footer.scss */
.rw-index-footer-nav .rw-index-footer-test {
  float: left;
  width: 65px;
  height: 65px;
  background-color: #c1392b;
  margin-right: 20px;
}
/* line 92, footer.scss */
.rw-index-footer-nav p {
  color: #c1392b;
  font-size: 20px;
  line-height: 65px;
  margin: 0 auto;
  float: left;
  width: 200px;
  display: block;
}
/* line 101, footer.scss */
.rw-index-footer-nav img {
  float: left;
  width: 65px;
  height: 65px;
}
/* line 107, footer.scss */
.rw-index-footer-nav ul {
  height: 65px;
  float: left;
  margin: 0 auto;
  padding-left: 0px;
}
/* line 112, footer.scss */
.rw-index-footer-nav ul li {
  height: 65px;
  display: block;
  float: left;
  list-style: none;
  margin: 15px;
}
/* line 118, footer.scss */
.rw-index-footer-nav ul li a {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #bec3c9;
  font-size: 20px;
}
/* line 124, footer.scss */
.rw-index-footer-nav ul li a img {
  width: 40px;
  height: 40px;
}
/* line 131, footer.scss */
.rw-index-footer-nav ul:last-child {
  float: right;
}
/* line 133, footer.scss */
.rw-index-footer-nav ul:last-child li {
  padding-top: 4px;
}
/* line 135, footer.scss */
.rw-index-footer-nav ul:last-child li:last-child {
  margin-right: 0px;
}

/* line 143, footer.scss */
.clear {
  clear: both;
}
