@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body{
	width:1200px;
	margin:0 auto;
	/*border:1px solid black;*/
	}


/*variables*/
$bcgContainer:#ebebe6;
$bcgDate:#fff;

$borderColorArticle:#fff;
$borderColorTuto:#3598db;

$borderColorCodo:#16a086;
$borderColorOuti:#f4c40c;

$boxshadowColorArticle:#e0e0e0;

$colorLastArticleTitle:#000;
$colorTitle:#c1392b;
$colorA:#000;
$colorMain:#000;
$colorDay:#c1392b;

$fontFamily:'Open Sans', sans-serif;
$fontTitle:'Open Sans', sans-serif;
$fontSizeDate:11px;
$fontSizeDay:14px;
$fontSizeTitle:25px;

$gradientArticleBottom:#ebebe6;
$gradientArticleTop:#fff;


footer {
	height:210px;
	width:100%;
	background-color:$bcgContainer;
	box-sizing:border-box;
	padding:30px;
}



