@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* line 3, index_last_articles.scss */
body {
  /*width:1200px;*/
  margin: 0 auto;
  /*border:1px solid black;*/
}

/*variables*/
/* line 38, index_last_articles.scss */
.rw-index-last-articles-container, .rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: #ebebe6;
  box-sizing: border-box;
  width: 1140px;
  /*largeur du site - 2x marge de 30px*/
  height: 400px;
  margin: 0 auto;
  padding: 1px 30px 0px 30px;
}
/* line 45, index_last_articles.scss */
.rw-index-last-articles-container h1, .rw-index-open-articles-container h1, .rw-index-open-articles-container-min h1 {
  color: #c1392b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 25px;
}

/* line 55, index_last_articles.scss */
.rw-index-last-article, .rw-index-open-article, .rw-index-open-article-min {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientArticleTop', endColorstr='$gradientArticleBottom',GradientType=0 );
  /* IE6-9 */
  width: 300px;
  height: 320px;
  border: 4px solid white;
  margin-right: 86px;
}
/* line 71, index_last_articles.scss */
.rw-index-last-article h1, .rw-index-open-article h1, .rw-index-open-article-min h1 {
  color: black;
  text-shadow: 2px 2px 2px #fff;
  font-size: 16px;
}
/* line 76, index_last_articles.scss */
.rw-index-last-article img, .rw-index-open-article img, .rw-index-open-article-min img {
  width: 200px;
  height: 206px;
  display: block;
  margin: 0 auto;
}
/* line 82, index_last_articles.scss */
.rw-index-last-article p, .rw-index-open-article p, .rw-index-open-article-min p {
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  padding: 0px 20px 5px 20px;
}

/* line 91, index_last_articles.scss */
.rw-index-last-article:last-child, .rw-index-open-article:last-child, .rw-index-open-article-min:last-child {
  margin-right: 0px;
}

/* line 95, index_last_articles.scss */
.rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: transparent;
}

/* line 100, index_last_articles.scss */
.rw-index-open-article, .rw-index-open-article-min {
  border: 0px solid white;
  background: transparent;
  padding: 0px;
}
/* line 105, index_last_articles.scss */
.rw-index-open-article h1, .rw-index-open-article-min h1 {
  color: #c1392b;
  line-height: 20px;
  font-size: 25px;
}
/* line 110, index_last_articles.scss */
.rw-index-open-article p, .rw-index-open-article-min p {
  font-size: 14px;
}
/* line 113, index_last_articles.scss */
.rw-index-open-article img, .rw-index-open-article-min img {
  width: 300px;
  height: 224px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #808b8f;
}

/* line 122, index_last_articles.scss */
.rw-index-open-article-date {
  background-color: white;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  /* la moitié de la hauteur du bloc qui la contient  */
  left: 50%;
  /* la moitié de la largeur du bloc qui la contient  */
  margin-top: -50px;
  /* la moitié de la hauteur de l'image + 20px */
  margin-left: -30px;
  /* la moitié de la largeur de l'image  */
  z-index: 2;
  -moz-box-shadow: 2px 2px 10px 0px #e0e0e0;
  -webkit-box-shadow: 2px 2px 10px 0px #e0e0e0;
  -o-box-shadow: 2px 2px 10px 0px #e0e0e0;
  box-shadow: 2px 2px 10px 0px #e0e0e0;
}
/* line 138, index_last_articles.scss */
.rw-index-open-article-date p {
  color: black;
  font-size: 11px;
  line-height: 12px;
}
/* line 142, index_last_articles.scss */
.rw-index-open-article-date p .rw-index-day {
  color: #c1392b;
  font-size: 14px;
}

/* line 149, index_last_articles.scss */
.rw-index-open-article-tuto, .rw-index-open-article-codo, .rw-index-open-article-outi {
  height: 300px;
  -moz-box-shadow: 5px -5px 10px 0px #e0e0e0;
  -webkit-box-shadow: 5px -5px 10px 0px #e0e0e0;
  -o-box-shadow: 5px -5px 10px 0px #e0e0e0;
  box-shadow: 5px -5px 10px 0px #e0e0e0;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$boxshadowColorArticle, Direction=134, Strength=10);
  background: -moz-linear-gradient(top, white 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientArticleTop', endColorstr='$gradientArticleBottom',GradientType=0 );
  /* IE6-9 */
  border-bottom: 4px solid #3598db;
  position: relative;
  z-index: 1;
}

/* line 168, index_last_articles.scss */
.rw-index-open-article-codo {
  border-bottom: 4px solid #16a086;
}

/* line 173, index_last_articles.scss */
.rw-index-open-article-outi {
  border-bottom: 4px solid #f4c40c;
}

/* line 183, index_last_articles.scss */
.rw-index-open-article-min {
  -moz-box-shadow: 1px -1px 6px 1px #e0e0e0;
  -webkit-box-shadow: 1px -1px 6px 1px #e0e0e0;
  -o-box-shadow: 1px -1px 6px 1px #e0e0e0;
  box-shadow: 1px -1px 6px 1px #e0e0e0;
  height: 50px;
  width: 300px;
  box-sizing: border-box;
}

/* line 194, index_last_articles.scss */
.rw-index-article-min-date {
  width: 60px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0px;
  background-color: #ebebe6;
  padding: 5px;
  box-sizing: border-box;
}
/* line 203, index_last_articles.scss */
.rw-index-article-min-date p {
  display: block;
  margin: 0 auto;
  color: black;
  font-size: 11px;
  line-height: 12px;
}
/* line 210, index_last_articles.scss */
.rw-index-article-min-date p .rw-index-day {
  color: #c1392b;
  font-size: 14px;
}

/* line 217, index_last_articles.scss */
.rw-index-article-min-link {
  display: inline-block;
  vertical-align: top;
  width: 236px;
  height: 50px;
}
/* line 222, index_last_articles.scss */
.rw-index-article-min-link a {
  display: block;
  float: left;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  height: 50px;
  width: 200px;
  padding: 5px;
  text-align: center;
}
/* line 235, index_last_articles.scss */
.rw-index-article-min-link img {
  float: right;
  height: 50px;
  width: 26px;
  border-bottom: 0px solid #000;
  margin-right: 0px;
  display: inline;
}
