@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body{
	width:1200px;
	margin:0 auto;
	/*border:1px solid black;*/
	}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*variables*/
$bcgContainer:#ebebe6;
$bcgDate:#fff;

$borderColorArticle:#fff;
$borderColorTuto:#3598db;

$borderColorCodo:#16a086;
$borderColorOuti:#f4c40c;

$boxshadowColorArticle:#e0e0e0;

$colorLastArticleTitle:#000;
$colorTitle:#c1392b;
$colorA:#000;
$colorMain:#000;
$colorDay:#c1392b;

$fontFamily:'Open Sans', sans-serif;
$fontTitle:'Open Sans', sans-serif;
$fontSizeDate:11px;
$fontSizeDay:14px;
$fontSizeTitle:30px;

$gradientArticleBottom:#ebebe6;
$gradientArticleTop:#fff;


/*DERNIERS ARTICLES*/
.rw-index-last-articles-container {
	background-color:$bcgContainer;
	width:1140px; /*largeur du site - 2x marge de 30px*/
	height:400px;
	margin:0 auto;
	padding:0px 30px;
	h1 {
		color:$colorTitle;
		text-align:center;
		font-family:$fontTitle;
		font-size:$fontSizeTitle;
		font-weight:400;
		text-shadow:2px 2px 2px #fff;
		margin:10px 2px;
	}
}

.rw-index-last-article {
	display:inline-block;
	vertical-align:top;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, $gradientArticleTop 0%, $gradientArticleBottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gradientArticleTop), color-stop(100%,$gradientArticleBottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* IE10+ */
	background: linear-gradient(to bottom, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradientArticleTop', endColorstr='$gradientArticleBottom',GradientType=0 ); /* IE6-9 */
	width:300px;
	height:320px;
	border:4px solid $borderColorArticle;
	margin-right:86px;
	h1 {
		color:$colorLastArticleTitle;
		font-size:15px;
		margin:5px 2px;
	}
	img {
		width:200px;
		height:206px;
		display:block;
		margin:0 auto;
	}
	p {
		text-align:center;
		color:$colorMain;
		font-family:$fontFamily;
		font-size:13px;
		padding:10px 20px;
	}
}

.rw-index-last-article:last-child {
	margin-right:0px;
}

/*ARTICLES OUVERTS*/
.rw-index-open-articles-container {
	@extend .rw-index-last-articles-container;
	background-color:transparent;
}

.rw-index-open-article {
	@extend .rw-index-last-article;
	border:0px solid $borderColorArticle;
	background:transparent;
	height:300px;
	padding-top:20px;
	h1 {
		color:$colorTitle;
		margin:10px 2px;
		font-size:$fontSizeTitle;
	}
	p {
		font-size:14px;
	}
	img {
		width:300px;
		height:224px;
		display:block;
		margin:0 auto;
		border-bottom:1px solid #808b8f;
	}

	p.rw-index-open-article-bcg {
		height:72px;
		padding:15px;
		background: -moz-linear-gradient(top, $gradientArticleTop 0%, $gradientArticleBottom 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gradientArticleTop), color-stop(100%,$gradientArticleBottom)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* IE10+ */
		background: linear-gradient(to bottom, $gradientArticleTop 0%,$gradientArticleBottom 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradientArticleTop', endColorstr='$gradientArticleBottom',GradientType=0 ); /* IE6-9 */
	}
}

.rw-index-open-article-date {
	background-color:$bcgDate;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius:60px;
	width:60px;
	height:60px;
	margin:0 auto;
	position: absolute;
	top : 50%;           /* la moitié de la hauteur du bloc qui la contient  */
    left : 50%;          /* la moitié de la largeur du bloc qui la contient  */
    margin-top : -50px;  /* la moitié de la hauteur de l'image + 20px */
    margin-left : -30px; /* la moitié de la largeur de l'image  */
	z-index:2;
	-moz-box-shadow: 2px 2px 10px 0px $boxshadowColorArticle;
	-webkit-box-shadow: 2px 2px 10px 0px $boxshadowColorArticle;
	-o-box-shadow: 2px 2px 10px 0px $boxshadowColorArticle;
	box-shadow: 2px 2px 10px 0px $boxshadowColorArticle;
	p {
		padding:10px;
		color:$colorMain;
		font-size:$fontSizeDate;
		line-height:$fontSizeDate +1;
		.rw-index-day {
			color:$colorDay;
			font-size:$fontSizeDay;
		}
	}
}

.rw-index-open-article-tuto {
	height:300px;
	-moz-box-shadow: 5px -5px 10px 0px $boxshadowColorArticle;
	-webkit-box-shadow: 5px -5px 10px 0px $boxshadowColorArticle;
	-o-box-shadow: 5px -5px 10px 0px $boxshadowColorArticle;
	box-shadow: 5px -5px 10px 0px $boxshadowColorArticle;
	border-bottom:4px solid $borderColorTuto;
	position:relative;
	z-index:1;
}

.rw-index-open-article-codo {
	@extend .rw-index-open-article-tuto;
	border-bottom:4px solid $borderColorCodo;
}

.rw-index-open-article-outi {
	@extend .rw-index-open-article-tuto;
	border-bottom:4px solid $borderColorOuti;
}

/*ARTICLES OUVERTS MINIS*/
.rw-index-open-articles-container-min {
	@extend .rw-index-open-articles-container;
	margin-top:0px;
}

.rw-index-open-article-min{
	@extend .rw-index-last-article;
	-moz-box-shadow: 1px -1px 6px 1px $boxshadowColorArticle;
	-webkit-box-shadow: 1px -1px 6px 1px $boxshadowColorArticle;
	-o-box-shadow: 1px -1px 6px 1px $boxshadowColorArticle;
	box-shadow: 1px -1px 6px 1px $boxshadowColorArticle;
	height:50px;
	width:300px;
	border:0px solid #fff;
}

.rw-index-article-min-date {
	width:60px;
	height:50px;
	display:inline-block;
	vertical-align:top;
	border-radius:0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-color:$bcgContainer;
	padding:5px;
	p {
		display:block;
		margin:0 auto;
		padding:0px;
		color:$colorMain;
		font-size:$fontSizeDate;
		line-height:$fontSizeDate +1;
		.rw-index-day {
			color:$colorDay;
			font-size:$fontSizeDay;
		}
	}
}	

.rw-index-article-min-link {
	display:inline-block;
	vertical-align:top;
	width:236px;
	height:50px;
	a {
		display:block;
		float:left;
		text-decoration:none;
		color:$colorA;
		font-family:$fontFamily;
		font-size:14px;
		margin:0 auto;
		height:50px;
		width:200px;
		padding:5px;
		text-align:center;
	}
	img {
		float:right;
		height:50px;
		width:26px;
		border-bottom:0px solid #000;
		margin-right:0px;
		display:inline;
	}
}
