@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* line 3, index_last_articles.scss */
/* line 3, index_last_articles.scss */
body {
  /*width:1200px;*/
  margin: 0 auto;
  /*border:1px solid black;*/
}

/*variables*/
/* line 29, index_last_articles.scss */
/* line 11, index_last_articles.scss */
.rw-index-last-articles-container, .rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: #ebebe6;
  box-sizing: border-box;
  width: 1140px;
  /*largeur du site - 2x marge de 30px*/
  height: 400px;
  margin: 0 auto;
  padding: 1px 30px 0px 30px;
}

/* line 36, index_last_articles.scss */
/* line 21, index_last_articles.scss */
.rw-index-last-articles-container h1, .rw-index-open-articles-container h1, .rw-index-open-articles-container-min h1 {
  color: #c1392b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}

/* line 44, index_last_articles.scss */
/* line 29, index_last_articles.scss */
.rw-index-last-article, .rw-index-open-article, .rw-index-open-article-min {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientArticleTop', endColorstr='$gradientArticleBottom',GradientType=0 );
  /* IE6-9 */
  width: 300px;
  height: 320px;
  border: 4px solid white;
  margin-right: 86px;
}

/* line 60, index_last_articles.scss */
/* line 55, index_last_articles.scss */
.rw-index-last-article h1, .rw-index-open-article h1, .rw-index-open-article-min h1 {
  color: black;
  text-shadow: 2px 2px 2px #fff;
}

/* line 67, index_last_articles.scss */
/* line 60, index_last_articles.scss */
.rw-index-last-article p, .rw-index-open-article p, .rw-index-open-article-min p {
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
}

/* line 74, index_last_articles.scss */
/* line 67, index_last_articles.scss */
.rw-index-last-article:last-child, .rw-index-open-article:last-child, .rw-index-open-article-min:last-child {
  margin-right: 0px;
}

/* line 78, index_last_articles.scss */
/* line 72, index_last_articles.scss */
.rw-index-open-articles-container, .rw-index-open-articles-container-min {
  background-color: transparent;
}

/* line 83, index_last_articles.scss */
/* line 77, index_last_articles.scss */
.rw-index-open-article, .rw-index-open-article-min {
  border: 0px solid white;
  background: transparent;
  padding: 0px;
}

/* line 88, index_last_articles.scss */
/* line 83, index_last_articles.scss */
.rw-index-open-article h1, .rw-index-open-article-min h1 {
  color: #c1392b;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}

/* line 94, index_last_articles.scss */
/* line 90, index_last_articles.scss */
.rw-index-open-article p, .rw-index-open-article-min p {
  text-align: center;
  color: black;
}

/* line 101, index_last_articles.scss */
/* line 96, index_last_articles.scss */
.rw-index-open-article-date, .rw-index-article-min-date {
  background-color: white;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 0 auto;
}

/* line 108, index_last_articles.scss */
/* line 105, index_last_articles.scss */
.rw-index-open-article-date p, .rw-index-article-min-date p {
  color: black;
  font-size: 12px;
  line-height: 13px;
}

/* line 112, index_last_articles.scss */
/* line 111, index_last_articles.scss */
.rw-index-open-article-date p .rw-index-day, .rw-index-article-min-date p .rw-index-day {
  color: #c1392b;
  font-size: 14px;
}

/* line 119, index_last_articles.scss */
/* line 117, index_last_articles.scss */
.rw-index-open-article-tuto, .rw-index-open-article-codo, .rw-index-open-article-outi {
  height: 300px;
  -moz-box-shadow: 2px 2px 10px 0px #ebebe6;
  -webkit-box-shadow: 2px 2px 10px 0px #ebebe6;
  -o-box-shadow: 2px 2px 10px 0px #ebebe6;
  box-shadow: 2px 2px 10px 0px #ebebe6;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$boxshadowColorArticle, Direction=134, Strength=10);
  background: -moz-linear-gradient(top, white 0%, #ebebe6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebe6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebe6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebe6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebe6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientArticleTop', endColorstr='$gradientArticleBottom',GradientType=0 );
  /* IE6-9 */
  border-bottom: 4px solid #3598db;
}

/* line 136, index_last_articles.scss */
/* line 142, index_last_articles.scss */
.rw-index-open-article-codo {
  border-bottom: 4px solid #16a086;
}

/* line 141, index_last_articles.scss */
/* line 147, index_last_articles.scss */
.rw-index-open-article-outi {
  border-bottom: 4px solid #f4c40c;
}

/* line 150, index_last_articles.scss */
/* line 152, index_last_articles.scss */
.rw-index-open-article-min {
  -moz-box-shadow: 2px 2px 10px 0px #ebebe6;
  -webkit-box-shadow: 2px 2px 10px 0px #ebebe6;
  -o-box-shadow: 2px 2px 10px 0px #ebebe6;
  box-shadow: 2px 2px 10px 0px #ebebe6;
  height: 50px;
  width: 300px;
  box-sizing: border-box;
}

/* line 161, index_last_articles.scss */
/* line 163, index_last_articles.scss */
.rw-index-article-min-date {
  padding: 0px;
  height: 50px;
  line-height: 13px;
  display: inline-block;
  vertical-align: top;
  border-radius: 0px;
  background-color: #ebebe6;
}

/* line 172, index_last_articles.scss */
/* line 174, index_last_articles.scss */
.rw-index-article-min-link {
  display: inline-block;
  vertical-align: top;
}

/* line 175, index_last_articles.scss */
/* line 179, index_last_articles.scss */
.rw-index-article-min-link a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}
